.s-modal {
  position: relative;
  padding: 1rem;

  @include media-min-sm {
    padding: 2.25rem;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.3em;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  &__form {}

  &__form-el {
    margin-bottom: 0.75rem;
  }

  &__form-label {
    font-size: ms(-1);
    line-height: 1.5em;
    display: block;
    margin-bottom: 0.25rem;
  }

  &__form-input {
    font-size: ms(-1);
    line-height: 1.5em;
    height: 50px;
    background-color: $bg-color--shade;
    border: 1px solid $border-color;
    width: 100%;
    padding-left: 20px;
  }

  &__form-promo-code {
    position: relative;
    display: block;
  }

  &__form-promo-code-submit {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    background-color: darken($bg-color--shade, 10%);
    border: none;
    color: $text-color;
    display: inline-block;
    font-size: ms(-2);
    line-height: 1.5em;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__actions {
    margin-top: 1.5rem;
  }

  &__action {
    width: 100%;
  }
}