.s-page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 0;

  &__logo {
    transform: translateY(-6px);

    svg {
      fill: #fff;

      @include media-min-sm {
        fill: $text-color;
      }
    }
  }

  &__nav {
    font-size: ms(-1);
    line-height: 1.5em;
    color: #fff;

    @include media-min-sm {
      color: $text-color;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        padding: 0;
        margin: 0;

        &:not(:last-child) {
          margin-right: 1.5rem;
        }

        a {
          display: inline-block;
          text-decoration: none;
          position: relative;
          color: currentColor;
          vertical-align: top;
          font-weight: 500;

          &::before {
            content: '';
            position: absolute;
            left: -0.25rem;
            right: -0.25rem;
            top: -0.25rem;
            bottom: -0.25rem;
          }

          &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: currentColor;
            height: 1px;
            transform: scaleX(1);
            transition: transform 0.5s $transition-timing;
            transform-origin: center left;
          }

          &:hover,
          &:focus {
            text-decoration: none;
            color: currentColor;

            &::after {
              transform: scaleX(0);
              transform-origin: center right;
            }
          }
        }
      }
    }
  }

  &__contacts-title {
    font-size: ms(-1);
    line-height: 1.5em;
    font-weight: 500;
    display: none;
    color: #fff;

    @include media-min-md {
      display: block;
    }
  }

  &__contacts-link {
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: #fff;
    vertical-align: top;
    font-weight: 500;
    font-size: ms(-1);
    line-height: 1.5em;

    &::before {
      content: '';
      position: absolute;
      left: -0.25rem;
      right: -0.25rem;
      top: -0.25rem;
      bottom: -0.25rem;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: currentColor;
      height: 1px;
      transform: scaleX(1);
      transition: transform 0.5s $transition-timing;
      transform-origin: center left;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;

      &::after {
        transform: scaleX(0);
        transform-origin: center right;
      }
    }
  }
}