@mixin section-padding {
  padding: 2.25rem 0;

  @include media-min-sm {
    padding: 4.5rem 0;
  }

  @include media-min-lg {
    padding: 6rem 0;
  }
}

@mixin section-subtitle {
  display: block;
  font-size: ms(-2);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.125em;
  margin-bottom: 1.5rem;

  &::after {
    position: relative;
    content: '';
    width: 45px;
    height: 1px;
    background-color: currentColor;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    transform: translateY(-1px);
  }
}

@mixin section-title {
  font-size: ms(1);
  line-height: 1.25em;
  font-weight: 700;

  span {
    color: $primary-color;
  }

  @include media-min-sm {
    font-size: ms(2);
    line-height: 1.1em;
  }

  @include media-min-lg {
    font-size: ms(3);
    line-height: 1em;
    letter-spacing: -0.015em;
  }
}