.s-btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 0;
  border: 1px solid $primary-color;
  padding: 19px 40px 21px;
  overflow: hidden;
  background-color: transparent;
  background-image: none;
  color: currentColor;
  border-radius: 0;
  font-family: $font-family;
  font-size: ms(-2);
  font-weight: 500;
  line-height: 1.45em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
  transition: all 250ms $transition-timing;

  svg {
    stroke: currentColor;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
  }

  @include media-max-xs {
    width: 100%;
  }

  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $text-color;
  }
}
