mixin btn(text, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-btn--' + modsList[i].trim();
      }
    }

  if (attributes.href)
    a.s-btn(class=allMods)&attributes(attributes)
      span!= text
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 10', width='10', height='10')
        path(stroke-linecap='round', stroke-linejoin='round', d='M5 1v8M1 5h8')

  else
    button.s-btn(class=allMods)&attributes(attributes)
      span!= text
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 10', width='10', height='10')
        path(stroke-linecap='round', stroke-linejoin='round', d='M5 1v8M1 5h8')