include mixins.pug

doctype html
html(class='no-js s-page', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    //- meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google', content='notranslate')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='preconnect', href='https://fonts.gstatic.com')
      link(href='https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Forum&family=Jost:wght@400;500;600;700;800;900&display=swap', rel='stylesheet')
      link(rel='stylesheet', href='css/assets/bootstrap.min.css')
      link(rel='stylesheet', href='css/assets/swiper-bundle.min.css')
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    .s-page__inner
      .s-page__content
        block header

        block content

      .s-page__footer-wrapper
        block footer

    block page-bottom
      script(src='js/assets/jquery-3.5.1.min.js')
      script(src='js/assets/bootstrap.bundle.min.js')
      script(src='js/assets/swiper-bundle.min.js')
      script(src='js/main.js')
