extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  header.s-page-header
    .container
      .row
        .col-auto.me-auto.col-md-3.me-md-0
          .s-page-header__logo
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 122 13', width='122', height='13')
              path(d='M0 .115555h2.74232v.192593c-.09274.012839-.17885.051357-.25833.115555-.07949.064197-.11924.160494-.11924.28889 0 .064197.01988.134814.05962.211851L5.40515 5.98963 8.2667 1.19407c.053-.10271.08611-.17975.09936-.231108.0265-.051357.03975-.115555.03975-.192592-.0265-.205432-.10599-.333827-.23847-.385185-.11923-.051358-.19209-.077037-.21859-.077037V.115555H10.075v.192593c-.19867 0-.40402.121975-.61598.365925-.19872.231112-.37095.468647-.51667.712597l-3.10002 5.2v4.98813c0 .1027.01325.2119.03975.3274.03974.1156.08611.2311.1391.3467.05299.1027.11923.1926.19872.2696.07949.0771.17222.1156.27821.1156h.09936v.1926H3.75579v-.1926h.09936c.10598 0 .19871-.0321.2782-.0963.07949-.0771.14573-.1669.19872-.2697.06624-.1155.11261-.2311.1391-.3466.0265-.1284.03975-.244.03975-.3467V6.76L1.31154 1.44444c-.06624-.10271-.14572-.21827-.23846-.34666C.980346.969383.880987.847407.775003.731852.66902.616296.556413.52.437181.442963.31795.353086.205343.308148.0993594.308148H0V.115555zM17.262 11.5748c0 .0899.0132.199.0397.3274.0265.1156.0596.2311.0994.3467.053.1027.1192.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926h-1.9276v-1.0593c-.1987.2825-.4901.5585-.8743.8282-.3842.2696-.881.4044-1.4904.4044-.7684 0-1.3778-.1284-1.8282-.3852-.4505-.2568-.7949-.5842-1.0334-.9822-.2384-.398-.3908-.8282-.457-1.2904-.0663-.47504-.0994-.918-.0994-1.32887V6.25926c0-.11556-.0066-.22469-.0198-.32741 0-.11555-.0265-.21827-.0795-.30815-.0398-.08987-.10602-.16049-.19875-.21185-.09274-.0642-.22521-.09629-.39744-.09629v-.17334l2.00709-.61629v4.91111c0 .97576.2186 1.69486.6557 2.15706.4372.4622.9738.6933 1.6097.6933.3444 0 .6491-.0706.9141-.2118.2782-.1541.51-.3339.6955-.5393.1987-.2054.3444-.4173.4372-.6356.106-.2182.1589-.398.1589-.5392V6.25926c0-.11556-.0066-.22469-.0198-.32741 0-.11555-.0265-.21827-.0795-.30815-.0398-.08987-.106-.16049-.1987-.21185-.0928-.0642-.2252-.09629-.3975-.09629v-.17334l2.0071-.61629v7.04887zM19.8933 12.8267v-.1926c.106 0 .1987-.0385.2782-.1156.0795-.077.1457-.1669.1987-.2696.0663-.1027.1126-.2119.1391-.3274.0265-.1284.0398-.244.0398-.3467V1.71407c0-.21827-.0331-.4237-.0994-.61629-.0662-.192595-.2649-.295311-.5961-.30815V.597036L21.8606 0v11.5748c0 .1027.0133.2183.0398.3467.0265.1155.0662.2247.1192.3274.0662.1027.1325.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926h-2.6032zM24.6913 12.8267v-.1926c.106 0 .1987-.0385.2782-.1156.0795-.077.1457-.1669.1987-.2696.053-.1027.0927-.2119.1192-.3274.0265-.1284.0398-.244.0398-.3467V6.24c0-.21827-.0331-.4237-.0994-.6163-.0662-.20543-.2583-.31456-.5763-.3274v-.17334l1.9872-.61629v7.06813c0 .1027.0133.2183.0398.3467.0265.1155.0662.2247.1192.3274.053.1027.1192.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926h-2.5833zm.0993-10.16892c0-.25679.0861-.47506.2584-.65482.1854-.17975.4107-.26963.6756-.26963.265 0 .4902.08988.6757.26963.1854.17976.2782.39803.2782.65482 0 .25679-.0928.46864-.2782.63555-.1855.16692-.4107.25037-.6757.25037-.2649 0-.4902-.08345-.6756-.25037-.1723-.16691-.2584-.37876-.2584-.63555zM34.6466 12.8267v-.9823l-.0993.0963c-.3312.321-.7154.5714-1.1526.7512-.4239.1797-.9406.2696-1.55.2696-.4637 0-.8611-.0514-1.1923-.1541-.3312-.1027-.6028-.2439-.8148-.4237-.2119-.1926-.3709-.4109-.4769-.6548-.0927-.244-.1391-.5008-.1391-.7704 0-.4365.1192-.8217.3577-1.15554.2517-.33382.6094-.62913 1.0731-.88592.4637-.25679 1.0267-.4879 1.6891-.69334.6756-.21827 1.444-.43012 2.3051-.63555-.0265-.50074-.1325-.90519-.3179-1.21334-.1855-.30814-.4041-.54567-.6558-.71259-.2517-.17975-.5167-.29531-.7949-.34666-.2782-.0642-.5166-.0963-.7154-.0963-.3444 0-.6491.05136-.9141.15407-.2517.10272-.4769.23753-.6756.40445-.1855.15407-.3445.32741-.4769.52-.1325.17975-.2385.35308-.318.52h-.1788V5.41185c.106-.01284.2053-.04494.298-.09629.0928-.05136.2054-.10272.3379-.15408.1987-.07704.4703-.18617.8147-.32741.3445-.15407.828-.23111 1.4507-.23111.7286 0 1.3181.08988 1.7686.26963.4504.17976.7948.41729 1.0333.7126.2517.2953.4173.63555.4968 1.02074.0795.37234.1192.75753.1192 1.15555v3.81332c0 .2568.0596.5008.1789.7319.1192.2182.2782.3274.4769.3274v.1926h-1.9276zm0-1.8297V8.24296l-.1987.03852c-.3179.07704-.7088.17975-1.1724.30815-.4505.1284-.881.29531-1.2917.50074-.4107.20543-.7618.44938-1.0532.73185-.2915.28248-.4372.60988-.4372.98218 0 .4109.1722.7512.5167 1.0208.3444.2696.7948.4044 1.3513.4044.4371 0 .8213-.0898 1.1525-.2696.3312-.1926.6359-.4365.9141-.7319l.2186-.2311zM43.6247.115555h2.8218c1.4705 0 2.5833.27605 3.3385.828148.7683.539257 1.1525 1.309627 1.1525 2.311107 0 .53926-.1324 1.02075-.3974 1.44445-.265.4237-.616.78321-1.0532 1.07852-.4239.28247-.9075.50074-1.4507.65481-.5299.15408-1.0598.23111-1.5897.23111h-.7551v4.9111c0 .1027.0132.2183.0397.3467.0265.1155.0662.2247.1192.3274.0663.1027.1325.1926.1987.2696.0795.0771.1723.1156.2783.1156h.0993v.1926h-2.8019v-.1926h.0993c.0928 0 .1789-.0385.2584-.1156.0795-.077.1457-.1669.1987-.2696.053-.1027.0927-.2119.1192-.3274.0265-.1284.0398-.244.0398-.3467V1.30963c0-.17975-.053-.385186-.159-.616298-.106-.23111-.2583-.359505-.4571-.385184h-.0993V.115555zm2.0667.674075v5.2h.5961c.5299 0 1.0002-.07062 1.4109-.21185.424-.14124.775-.32741 1.0532-.55852.2782-.23111.4902-.49432.6359-.78963.1458-.29531.2186-.59704.2186-.90519 0-.37234-.0662-.71901-.1987-1.04-.1192-.33382-.3246-.62271-.616-.86666-.2782-.25679-.6492-.45581-1.1129-.59704-.4636-.154073-1.0333-.23111-1.7089-.23111h-.2782zM52.9078 12.8267v-.1926c.106 0 .1987-.0385.2782-.1156.0795-.077.1457-.1669.1987-.2696.053-.1027.0928-.2119.1193-.3274.0265-.1284.0397-.244.0397-.3467V6.24c0-.21827-.0331-.4237-.0994-.6163-.0662-.20543-.2583-.31456-.5762-.3274v-.17334l1.9871-.61629v7.06813c0 .1027.0133.2183.0398.3467.0265.1155.0662.2247.1192.3274.053.1027.1192.1926.1987.2696.0795.0771.1723.1156.2782.1156v.1926h-2.5833zm.0994-10.16892c0-.25679.0861-.47506.2583-.65482.1855-.17975.4107-.26963.6756-.26963.265 0 .4902.08988.6757.26963.1855.17976.2782.39803.2782.65482 0 .25679-.0927.46864-.2782.63555-.1855.16692-.4107.25037-.6757.25037-.2649 0-.4901-.08345-.6756-.25037-.1722-.16691-.2583-.37876-.2583-.63555zM64.0753 10.6311c0 .3338-.0861.642-.2583.9245-.1722.2824-.4107.5328-.7154.7511-.2914.2054-.6359.3723-1.0333.5007-.3975.1156-.828.1733-1.2917.1733-.5697 0-1.0333-.0706-1.391-.2118-.3577-.1541-.6624-.3082-.9141-.4622-.1723-.1027-.3312-.1862-.477-.2504-.1457-.077-.3047-.1156-.4769-.1156V10.477h.1987c.0398.1798.1524.3788.3379.5971.1987.2054.4305.398.6955.5778.2782.1797.5763.3338.8942.4622.3312.1155.6624.1733.9936.1733.2385 0 .4835-.0257.7353-.077.2517-.0514.4769-.1348.6756-.2504.212-.1156.3842-.2568.5167-.4237.1457-.1798.2186-.3916.2186-.6356 0-.2439-.0729-.4558-.2186-.6355-.1458-.1798-.3312-.33384-.5564-.46224-.2253-.14123-.4836-.26321-.775-.36592-.2915-.10272-.583-.19902-.8744-.28889-.3445-.10272-.6955-.21827-1.0532-.34667-.3445-.12839-.6558-.27605-.934-.44296-.2782-.17975-.5034-.39161-.6756-.63556-.1723-.25679-.2584-.55852-.2584-.90518 0-.29531.053-.57778.159-.84741.1192-.26963.3047-.50074.5564-.69333.265-.20544.6028-.36593 1.0135-.48148.4107-.1284.9075-.1926 1.4904-.1926.5166 0 .9141.04494 1.1923.13482.2914.07703.5299.16049.7154.25037.1192.0642.2384.11555.3577.15407.1192.02568.2517.03852.3974.03852v1.34815h-.159c-.2384-.4237-.6028-.74469-1.0929-.96296-.4902-.21828-.9936-.32741-1.5103-.32741-.3312 0-.616.04494-.8545.13481-.2384.07704-.4372.17976-.5961.30815-.1458.11556-.2584.25037-.3379.40445-.0662.15407-.0993.30814-.0993.46222 0 .21827.0596.40444.1788.55852.1325.15407.3047.28889.5167.40444.2252.11556.4703.22469.7353.32741.2782.10271.5696.19901.8743.28889.371.11555.7419.24395 1.1128.38518.371.1284.7022.28889.9936.48148.2915.1926.53.42371.7154.69334.1855.25679.2782.57139.2782.94369zM73.1197 12.1333c-.106 0-.2054.0257-.2981.0771-.0927.0385-.1987.0898-.318.154-.2252.1284-.51.2633-.8544.4045-.3445.1284-.7949.1926-1.3513.1926-.6757 0-1.3049-.1027-1.8879-.3082-.5696-.2182-1.0664-.5135-1.4903-.8859-.4107-.3852-.7353-.8281-.9738-1.3289-.2252-.51356-.3378-1.06566-.3378-1.65628 0-.5521.0994-1.07852.2981-1.57926.2119-.50074.51-.9437.8942-1.32889.3842-.38518.8545-.69333 1.4109-.92444.5697-.23111 1.2122-.34667 1.9276-.34667.4902 0 .8876.05778 1.1923.17334.3047.10271.563.20543.775.30814.1192.0642.2319.11556.3378.15408.1193.03852.2385.05778.3577.05778V6.76h-.1987c-.0662-.24395-.1855-.4558-.3577-.63556-.1722-.19259-.3709-.35308-.5961-.48148-.2253-.12839-.4703-.22469-.7353-.28889-.265-.06419-.5233-.09629-.775-.09629-.5432 0-1.0201.09629-1.4308.28889-.4107.17975-.7485.4237-1.0134.73185-.265.29531-.4637.63555-.5962 1.02074-.1325.38518-.1987.78321-.1987 1.19407 0 .47506.0795.94371.2384 1.40593.159.44934.3842.85384.6757 1.21334.3047.3595.669.6484 1.0929.8667.424.2182.9009.3274 1.4308.3274.371 0 .7088-.0514 1.0135-.1541.3179-.1027.5829-.2375.7949-.4045.2252-.1669.404-.3466.5365-.5392.1325-.2054.212-.398.2385-.5778h.1987v1.5022zM82.4306 11.5748c0 .1027.0132.2183.0397.3467.0265.1155.0663.2247.1193.3274.0662.1027.1324.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926H80.503v-.1926c.0928 0 .1789-.0385.2583-.1156.0795-.077.1458-.1669.1988-.2696.0662-.1027.1126-.2119.1391-.3274.0265-.1284.0397-.244.0397-.3467V7.99259c0-.46222-.0662-.86666-.1987-1.21333-.1325-.34667-.3113-.63556-.5365-.86667-.2253-.23111-.4836-.39802-.7751-.50074-.2782-.11555-.563-.17333-.8544-.17333-.2915 0-.5829.05778-.8744.17333-.2782.10272-.5299.25037-.7551.44296-.212.1926-.3909.43013-.5366.7126-.1325.26963-.1987.57136-.1987.90518v4.10221c0 .1027.0133.2183.0397.3467.0265.1155.0663.2247.1193.3274.0662.1027.1325.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926H74.462v-.1926c.0927 0 .1788-.0385.2583-.1156.0795-.077.1457-.1669.1987-.2696.0663-.1027.1126-.2119.1391-.3274.0265-.1284.0398-.244.0398-.3467V1.73333c0-.21827-.0332-.4237-.0994-.61629-.0662-.192596-.2583-.295312-.5763-.308151V.616296l1.9872-.597037V5.58519c.0927-.10272.212-.21186.3577-.32741.1457-.1284.3179-.24395.5167-.34667.2119-.11555.4504-.20543.7154-.26963.2782-.07704.6027-.11555.9737-.11555.6226 0 1.1525.10271 1.5897.30814.4372.20544.7949.47507 1.0731.80889.2782.32099.4769.6805.5962 1.07852.1324.38519.1987.76395.1987 1.1363v3.71702zM86.1114 8.9363c.053.44938.1656.8795.3378 1.2904.1722.398.3974.7511.6757 1.0592.2914.3082.6425.5585 1.0532.7511.4106.1798.8876.2697 1.4307.2697.2915 0 .5962-.0386.9141-.1156.3312-.0899.6359-.2118.9142-.3659.2782-.1541.5232-.3403.7352-.5585.2252-.2311.3776-.4879.4571-.7704h.1788v1.4444c-.0795 0-.1722.0257-.2782.0771-.0927.0513-.2053.1155-.3378.1926-.265.154-.6227.321-1.0731.5007-.4504.1669-1.0466.2504-1.7885.2504-.5961 0-1.1658-.0835-1.709-.2504-.5299-.1669-1.0002-.4237-1.4109-.7704-.4106-.3466-.7418-.7896-.9935-1.3288-.2385-.5393-.3577-1.18128-.3577-1.92597 0-.47507.0794-.95655.2384-1.44445.1722-.4879.424-.92444.7552-1.30963.3444-.39802.7816-.71901 1.3115-.96296.5299-.24395 1.1658-.36593 1.9077-.36593.6624 0 1.2387.10914 1.7289.32741.5034.21827.9141.52 1.232.90519.3312.38518.5763.84098.7353 1.3674.1589.52642.2384 1.1042.2384 1.73334h-6.8955zm2.8814-3.69778c-.4637 0-.8677.08987-1.2122.26963-.3312.17975-.616.41086-.8545.69333-.2384.28247-.4239.60346-.5564.96296-.1325.35951-.2186.71902-.2583 1.07852h5.6635c-.0133-.37234-.0861-.73827-.2186-1.09777-.1193-.35951-.2915-.6805-.5167-.96297-.2252-.28247-.51-.50716-.8545-.67407-.3444-.17976-.7419-.26963-1.1923-.26963zM94.7428 12.8267v-.1926c.106 0 .1987-.0385.2782-.1156.0795-.077.1457-.1669.1987-.2696.0662-.1027.1126-.2119.1391-.3274.0265-.1284.0397-.244.0397-.3467V1.71407c0-.21827-.0331-.4237-.0993-.61629-.0663-.192595-.265-.295311-.5962-.30815V.597036L96.7101 0v11.5748c0 .1027.0132.2183.0397.3467.0265.1155.0663.2247.1193.3274.0662.1027.1324.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926h-2.6032zM99.5407 12.8267v-.1926c.106 0 .1988-.0385.2782-.1156.0795-.077.1458-.1669.1991-.2696.053-.1027.092-.2119.119-.3274.026-.1284.04-.244.04-.3467V6.24c0-.21827-.033-.4237-.1-.6163-.066-.20543-.258-.31456-.576-.3274v-.17334l1.987-.61629v7.06813c0 .1027.013.2183.04.3467.026.1155.066.2247.119.3274.053.1027.119.1926.199.2696.079.0771.172.1156.278.1156v.1926h-2.5833zm.0994-10.16892c0-.25679.0861-.47506.2583-.65482.1856-.17975.4106-.26963.6756-.26963.265 0 .49.08988.676.26963.185.17976.278.39803.278.65482 0 .25679-.093.46864-.278.63555-.186.16692-.411.25037-.676.25037-.265 0-.49-.08345-.6756-.25037-.1722-.16691-.2583-.37876-.2583-.63555zM112.238 11.5748c0 .1027.014.2183.04.3467.027.1155.066.2247.119.3274.067.1027.133.1926.199.2696.08.0771.172.1156.278.1156v.1926h-2.563v-.1926c.093 0 .179-.0385.258-.1156.08-.077.146-.1669.199-.2696.066-.1027.112-.2119.139-.3274.026-.1284.04-.244.04-.3467V7.99259c0-.46222-.067-.86666-.199-1.21333-.132-.34667-.311-.63556-.537-.86667-.225-.23111-.483-.39802-.775-.50074-.278-.11555-.563-.17333-.854-.17333-.291 0-.583.05778-.874.17333-.279.11556-.53.26963-.756.46222-.211.17976-.39.39803-.536.65482-.133.24395-.199.50074-.199.77037v4.27554c0 .1027.013.2183.04.3467.026.1155.066.2247.119.3274.066.1027.133.1926.199.2696.079.0771.172.1156.278.1156v.1926h-2.583v-.1926c.093 0 .179-.0385.258-.1156.08-.077.146-.1669.199-.2696.066-.1027.112-.2119.139-.3274.026-.1284.04-.244.04-.3467V6.25926c0-.21827-.033-.4237-.1-.6163-.066-.20543-.258-.31457-.576-.3274v-.17334l1.987-.61629v1.05926c.093-.10272.212-.21186.358-.32741.146-.1284.318-.24395.517-.34667.212-.11555.45-.20543.715-.26963.278-.07704.603-.11555.974-.11555.622 0 1.152.10271 1.589.30814.438.20544.795.47507 1.074.80889.278.32099.476.6805.596 1.07852.132.38519.198.76395.198 1.1363v3.71702zM120.072 12.8267v-.9823l-.099.0963c-.331.321-.715.5714-1.152.7512-.424.1797-.941.2696-1.55.2696-.464 0-.862-.0514-1.193-.1541-.331-.1027-.603-.2439-.815-.4237-.212-.1926-.371-.4109-.476-.6548-.093-.244-.14-.5008-.14-.7704 0-.4365.12-.8217.358-1.15554.252-.33382.61-.62913 1.073-.88592.464-.25679 1.027-.4879 1.689-.69334.676-.21827 1.444-.43012 2.305-.63555-.026-.50074-.132-.90519-.318-1.21334-.185-.30814-.404-.54567-.655-.71259-.252-.17975-.517-.29531-.795-.34666-.278-.0642-.517-.0963-.716-.0963-.344 0-.649.05136-.914.15407-.251.10272-.477.23753-.675.40445-.186.15407-.345.32741-.477.52-.133.17975-.239.35308-.318.52h-.179V5.41185c.106-.01284.205-.04494.298-.09629.093-.05136.205-.10272.338-.15408.199-.07704.47-.18617.815-.32741.344-.15407.828-.23111 1.45-.23111.729 0 1.318.08988 1.769.26963.45.17976.795.41729 1.033.7126.252.2953.418.63555.497 1.02074.079.37234.119.75753.119 1.15555v3.81332c0 .2568.06.5008.179.7319.119.2182.278.3274.477.3274v.1926h-1.928zm0-1.8297V8.24296l-.198.03852c-.318.07704-.709.17975-1.173.30815-.45.1284-.881.29531-1.291.50074-.411.20543-.762.44938-1.054.73185-.291.28248-.437.60988-.437.98218 0 .4109.172.7512.517 1.0208.344.2696.795.4044 1.351.4044.437 0 .822-.0898 1.153-.2696.331-.1926.636-.4365.914-.7319l.218-.2311z')
        .col-auto.col-md-3
          nav.s-page-header__nav
            ul
              li
                a(href='#about-the-marathon') О курсе
              li
                a(href='#tariffs') Тарифы
        .d-none.d-md-block.col-md-auto.ms-md-auto
          .s-page-header__contacts
            .row
              .d-none.d-lg-block.col-auto
                span.s-page-header__contacts-title Instagram:
              .col-auto
                a.s-page-header__contacts-link(href='https://www.instagram.com/mua_yuliapishchelina/', rel='noopener', target='_blank') @mua_yuliapishchelina
              .col-auto
                a.s-page-header__contacts-link(href='https://www.instagram.com/yuppie_brushes/', rel='noopener', target='_blank') @yuppie_brushes
block content
  section.s-promo
    .s-promo__inner
      .s-promo__content
        .container
          .row
            .col-12.col-md-6
              .s-promo__content-wrap
                span.s-promo__subtitle Марафон
                h1.s-promo__title
                  span Color &#32;
                  | games &#32;
                  b 3.0
                .s-promo__desc
                  p Хочешь научиться делать стильный макияж, не бояться цвета и идеально тушевать тени? Запишись на марафон сегодня и получи подарок — чек-лист “6 секретов идеальных тушевок»”.
                +btn('Записаться')(type='button', data-bs-toggle='modal', data-bs-target='#exampleModal')
      .s-promo__cover
        .s-promo__cover-wrap
          img(src='img/promo-cover.jpg', alt='')

  section.s-countdown
    .container
      .row.justify-content-between
        .col-12.col-md-6
          h2.s-countdown__title
            span Успей записаться &#32;
            | на марафон Color Games
          +btn('Записаться')(type='button', data-bs-toggle='modal', data-bs-target='#exampleModal')
        .col-12.col-md-auto
          .s-countdown__timer 25:18:11
          .s-countdown__timer-caption До начала марафона осталось

  section.s-when
    .container
      .row
        .col-12.col-md-4
          span.s-when__subtitle Авторский online-курс
          .s-when__desc
            p Юлии Пищелина проведет online-курс в формате прямых эфиров, направленный на получение качественных знаний по самым актуальным и востребованным техникам, текстурам и формам макияжа!
          +btn('Записаться')(type='button', data-bs-toggle='modal', data-bs-target='#exampleModal')
        .col-12.col-md-4.offset-md-3
          .s-when__date
            span.s-when__date-subtitle Даты проведения
            .s-when__date-inner
              .s-when__date-days
                | 16 -
                br
                | 22 &#32;
                span марта

  section.s-about-the-marathon(id='about-the-marathon')
    .s-about-the-marathon__cover
      .s-about-the-marathon__cover-wrap
        img(src='img/about-the-marathon-cover.jpg', alt='')
    .s-about-the-marathon__content
      .container
        .row
          .col-12.col-lg-6.offset-lg-6
            .s-about-the-marathon__content-wrap
            span.s-about-the-marathon__subtitle О чем этот марафон
            h2.s-about-the-marathon__title
              | Вы узнаете &#32;
              span принципы создания актуального макияжа
            .s-about-the-marathon__desc
              p Поймете, как правильно выбирать текстуры для конкретных задач. также научитесь разбираться в особенностях построения формы макияжа и получите знания в создании 4 современных образов, которые сможете сразу отработать.
              ul
                li Подробный, поэтапный алгоритм построения идеальной, современной формы.
                li Акценты на создание грамотных тушевок.
                li Современные тенденции колористики макияжа, цветовые переходы, монохромные сочетания и контрасты.
                li Комбинирование различных текстур в макияже . Способы нанесения, наслаивания и их стойкость.

  section.s-about-me
    .s-about-me__inner
      .s-about-me__cover
        .s-about-me__cover-wrap
          img(src='img/about-me-cover.jpg', alt='')
      .s-about-me__content
        .container
          .row
            .col-12.col-lg-6
              span.s-about-me__subtitle Об Авторе марафона
              h2.s-about-me__title
                | Юля — художник-визажист, &#32;
                span чей почерк в работе всегда узнаваем
              .s-about-me__desc
                ul
                  li Тонкое чувство цвета, безупречная техника макияжа.
                  li При всей своей яркости, авторские техники Юлии уместны в работе с коммерческим клиентом.
                  li Макияж всегда выглядит элегантно и актуально.
                  li 8 лет стажа в преподавании макияжа.
                  li Работы учеников говорят сами за себя, а подача информации на уроках проста в восприятии.

  .s-info-in-numbers
    .container
      span.s-info-in-numbers__subtitle Обо мне в цифрах
      .row.justify-content-between
        .col-12.col-md-auto
          .s-info-in-numbers__item
            span.s-info-in-numbers__term 11
            span.s-info-in-numbers__desc лет в профессии
        .col-12.col-md-auto
          .s-info-in-numbers__item
            span.s-info-in-numbers__term 7 000
            span.s-info-in-numbers__desc учеников
        .col-12.col-md-auto
          .s-info-in-numbers__item
            span.s-info-in-numbers__term 100
            span.s-info-in-numbers__desc выездных мастер-классов в Европе и РФ

  section.s-for-whom
    .container
      span.s-for-whom__subtitle Для кого этот марафон
      .row
        .col-12.col-md-6.col-lg-8
          h2.s-for-whom__title
            | Марафон будет интересен как &#32;
            span начинающим визажистам, так и работающим &#32;
            | мастерам
        .col-12.col-md-5.col-lg-3
          .s-for-whom__quote
            | У вас будет уникальная возможность узнать секреты, которые я использую в работе и пообщаться со мной в прямом эфире во время показов!

  .s-gallery
    img(src='img/gallery.jpg', alt='')

  section.s-tariffs(id='tariffs')
    .container
      span.s-tariffs__subtitle Стоимость участия
      h2.s-tariffs__title
        | Выбирай &#32;
        span
          | удобный
          br
          | тариф
      .row
        .col-12.col-md-4
          .s-tariffs__tariff
            h3.s-tariffs__tariff-title Простой
            .s-tariffs__tariff-price
              | 1 490 &#32;
              span ₽
            span.s-tariffs__include-title Входит:
            ul.s-tariffs__include-list
              li Прямые эфиры в закрытом аккаунте инстаграм.
              li Доступ к записям 24 часа.
              li Чек-лист “Топ-продуктов и кистей для любого макияжа от Юлии”.
            +btn('Купить').s-tariffs__tariff-action(id='simple-tariff', type='button', data-bs-toggle='modal', data-bs-target='#exampleModal')
        .col-12.col-md-4
          .s-tariffs__tariff.s-tariffs__tariff--accent
            h3.s-tariffs__tariff-title Стандарт
            .s-tariffs__tariff-price
              | 2 490 &#32;
              span ₽
            span.s-tariffs__include-title Входит:
            ul.s-tariffs__include-list
              li Прямые эфиры в закрытом аккаунте инстаграм.
              li Доступ к записям эфиров на 1 месяц на обучающей платформе.
              li
                span Бонусный эфир “Как снимать свои работы на телефон и фотоаппарат”.
              li Чек-лист “Топ-продуктов и кистей для любого макияжа от Юлии”.
              li Чек-лист “Лучшие программы для обработки фото в телефоне”.
            +btn('Купить').s-tariffs__tariff-action(id='main-tariff', type='button', data-bs-toggle='modal', data-bs-target='#exampleModal')
        .col-12.col-md-4
          .s-tariffs__tariff
            h3.s-tariffs__tariff-title
              span VIP
            .s-tariffs__tariff-price
              | 4 490 &#32;
              span ₽
            span.s-tariffs__include-title Входит:
            ul.s-tariffs__include-list
              li Прямые эфиры в закрытом аккаунте инстаграм.
              li Доступ к записям эфиров на 3 месяца на обучающей платформе.
              li
                span Бонусный эфир “Как снимать свои работы на телефон и фотоаппарат”.
              li Чек-лист “Топ-продуктов и кистей для любого макияжа от Юлии”.
              li Чек-лист “Лучшие программы для обработки фото в телефоне”.
              li
                span Обратная связь и проверка отработанных образов в аудио-формате.
              li
                span Профессиональная ретушь любой вашей работы на выбор.
            +btn('Купить').s-tariffs__tariff-action(id='vip-tariff', type='button', data-bs-toggle='modal', data-bs-target='#exampleModal')

  section.s-my-works
    .container
      span.s-my-works__subtitle Галерея
      h2.s-my-works__title
        | Мои &#32;
        span работы
    .s-my-works__slider
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            figure.s-my-works__item
              .s-my-works__item-image
                img(src='img/my-work-example-1.jpg', alt='')
          .swiper-slide
            figure.s-my-works__item
              .s-my-works__item-image
                img(src='img/my-work-example-2.jpg', alt='')
          .swiper-slide
            figure.s-my-works__item
              .s-my-works__item-image
                img(src='img/my-work-example-3.jpg', alt='')
          .swiper-slide
            figure.s-my-works__item
              .s-my-works__item-image
                img(src='img/my-work-example-4.jpg', alt='')
          .swiper-slide
            figure.s-my-works__item
              .s-my-works__item-image
                img(src='img/my-work-example-5.jpg', alt='')
          .swiper-slide
            figure.s-my-works__item
              .s-my-works__item-image
                img(src='img/my-work-example-6.jpg', alt='')
          .swiper-slide
            figure.s-my-works__item
              .s-my-works__item-image
                img(src='img/my-work-example-7.jpg', alt='')
    .container
      .s-my-works__slider-progressbar

  section.s-my-instagram
    .container
      span.s-my-instagram__subtitle Галерея
      h2.s-my-instagram__title
        | Мой &#32;
        span Instagram
      .instafeed

  section.s-my-products
    .container
      .row.align-items-center
        .col-12.col-md-4.order-md-2.col-lg-5.offset-lg-1
          .s-my-products__cover
            .s-my-products__cover-wrap
              img(src='img/my-products-cover.jpg', alt='')
        .col-12.col-md-8.order-md-1.col-lg-6
          span.s-my-products__subtitle Кисти
          h2.s-my-products__title
            span Авторские кисти &#32;
            | Пищелиной Юлии — великолепные &#32;
            span помощники любому визажисту &#32;
            | при создании вуальных дымок и плавных переходов теней!
          .s-my-products__desc
            p
              | Весёлые наименования и яркий дизайн поднимут настроение! Руки так к ним и тянутся! Выбрать и заказать кисти можно тут: &#32;
              a(href='https://www.instagram.com/yuppie_brushes/', rel='noopener', target='_blank') @yuppie_brushes

  .modal.fade(id='exampleModal', tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog
      .s-modal.modal-content
        button.s-modal__close(type='button', data-bs-dismiss='modal', aria-label='Close')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 17', width='17', height='17')
            path(stroke='#000', d='M1 1l15 15M1 16L16 1')
        h3.s-modal__title Записаться
        form.s-modal__form
          .s-modal__form-el
            label.s-modal__form-label(for='') Имя и Фамилия
            input(type='text').s-modal__form-input
          .s-modal__form-el
            label.s-modal__form-label(for='') Комментарий
            input(type='textarea').s-modal__form-input
          .s-modal__form-el
            label.s-modal__form-label(for='') Промокод
            span.s-modal__form-promo-code
              input(type='text').s-modal__form-input
              button.s-modal__form-promo-code-submit Применить
          .s-modal__actions
            +btn('Оплатить').s-modal__action


block footer
  footer.s-page-footer
    .container
      .row
        .col-12.col-md-4
          .s-page-footer__logo
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 122 13', width='122', height='13')
              path(fill='#C9CFCD', d='M0 .115555h2.74232v.192593c-.09274.012839-.17885.051357-.25833.115555-.07949.064197-.11924.160494-.11924.28889 0 .064197.01988.134814.05962.211851L5.40515 5.98963 8.2667 1.19407c.053-.10271.08611-.17975.09936-.231108.0265-.051357.03975-.115555.03975-.192592-.0265-.205432-.10599-.333827-.23847-.385185-.11923-.051358-.19209-.077037-.21859-.077037V.115555H10.075v.192593c-.19867 0-.40402.121975-.61598.365925-.19872.231112-.37095.468647-.51667.712597l-3.10002 5.2v4.98813c0 .1027.01325.2119.03975.3274.03974.1156.08611.2311.1391.3467.05299.1027.11923.1926.19872.2696.07949.0771.17222.1156.27821.1156h.09936v.1926H3.75579v-.1926h.09936c.10598 0 .19871-.0321.2782-.0963.07949-.0771.14573-.1669.19872-.2697.06624-.1155.11261-.2311.1391-.3466.0265-.1284.03975-.244.03975-.3467V6.76L1.31154 1.44444c-.06624-.10271-.14572-.21827-.23846-.34666C.980346.969383.880987.847407.775003.731852.66902.616296.556413.52.437181.442963.31795.353086.205343.308148.0993594.308148H0V.115555zM17.262 11.5748c0 .0899.0132.199.0397.3274.0265.1156.0596.2311.0994.3467.053.1027.1192.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926h-1.9276v-1.0593c-.1987.2825-.4901.5585-.8743.8282-.3842.2696-.881.4044-1.4904.4044-.7684 0-1.3778-.1284-1.8282-.3852-.4505-.2568-.7949-.5842-1.0334-.9822-.2384-.398-.3908-.8282-.457-1.2904-.0663-.47504-.0994-.918-.0994-1.32887V6.25926c0-.11556-.0066-.22469-.0198-.32741 0-.11555-.0265-.21827-.0795-.30815-.0398-.08987-.10602-.16049-.19875-.21185-.09274-.0642-.22521-.09629-.39744-.09629v-.17334l2.00709-.61629v4.91111c0 .97576.2186 1.69486.6557 2.15706.4372.4622.9738.6933 1.6097.6933.3444 0 .6491-.0706.9141-.2118.2782-.1541.51-.3339.6955-.5393.1987-.2054.3444-.4173.4372-.6356.106-.2182.1589-.398.1589-.5392V6.25926c0-.11556-.0066-.22469-.0198-.32741 0-.11555-.0265-.21827-.0795-.30815-.0398-.08987-.106-.16049-.1987-.21185-.0928-.0642-.2252-.09629-.3975-.09629v-.17334l2.0071-.61629v7.04887zM19.8933 12.8267v-.1926c.106 0 .1987-.0385.2782-.1156.0795-.077.1457-.1669.1987-.2696.0663-.1027.1126-.2119.1391-.3274.0265-.1284.0398-.244.0398-.3467V1.71407c0-.21827-.0331-.4237-.0994-.61629-.0662-.192595-.2649-.295311-.5961-.30815V.597036L21.8606 0v11.5748c0 .1027.0133.2183.0398.3467.0265.1155.0662.2247.1192.3274.0662.1027.1325.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926h-2.6032zM24.6913 12.8267v-.1926c.106 0 .1987-.0385.2782-.1156.0795-.077.1457-.1669.1987-.2696.053-.1027.0927-.2119.1192-.3274.0265-.1284.0398-.244.0398-.3467V6.24c0-.21827-.0331-.4237-.0994-.6163-.0662-.20543-.2583-.31456-.5763-.3274v-.17334l1.9872-.61629v7.06813c0 .1027.0133.2183.0398.3467.0265.1155.0662.2247.1192.3274.053.1027.1192.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926h-2.5833zm.0993-10.16892c0-.25679.0861-.47506.2584-.65482.1854-.17975.4107-.26963.6756-.26963.265 0 .4902.08988.6757.26963.1854.17976.2782.39803.2782.65482 0 .25679-.0928.46864-.2782.63555-.1855.16692-.4107.25037-.6757.25037-.2649 0-.4902-.08345-.6756-.25037-.1723-.16691-.2584-.37876-.2584-.63555zM34.6466 12.8267v-.9823l-.0993.0963c-.3312.321-.7154.5714-1.1526.7512-.4239.1797-.9406.2696-1.55.2696-.4637 0-.8611-.0514-1.1923-.1541-.3312-.1027-.6028-.2439-.8148-.4237-.2119-.1926-.3709-.4109-.4769-.6548-.0927-.244-.1391-.5008-.1391-.7704 0-.4365.1192-.8217.3577-1.15554.2517-.33382.6094-.62913 1.0731-.88592.4637-.25679 1.0267-.4879 1.6891-.69334.6756-.21827 1.444-.43012 2.3051-.63555-.0265-.50074-.1325-.90519-.3179-1.21334-.1855-.30814-.4041-.54567-.6558-.71259-.2517-.17975-.5167-.29531-.7949-.34666-.2782-.0642-.5166-.0963-.7154-.0963-.3444 0-.6491.05136-.9141.15407-.2517.10272-.4769.23753-.6756.40445-.1855.15407-.3445.32741-.4769.52-.1325.17975-.2385.35308-.318.52h-.1788V5.41185c.106-.01284.2053-.04494.298-.09629.0928-.05136.2054-.10272.3379-.15408.1987-.07704.4703-.18617.8147-.32741.3445-.15407.828-.23111 1.4507-.23111.7286 0 1.3181.08988 1.7686.26963.4504.17976.7948.41729 1.0333.7126.2517.2953.4173.63555.4968 1.02074.0795.37234.1192.75753.1192 1.15555v3.81332c0 .2568.0596.5008.1789.7319.1192.2182.2782.3274.4769.3274v.1926h-1.9276zm0-1.8297V8.24296l-.1987.03852c-.3179.07704-.7088.17975-1.1724.30815-.4505.1284-.881.29531-1.2917.50074-.4107.20543-.7618.44938-1.0532.73185-.2915.28248-.4372.60988-.4372.98218 0 .4109.1722.7512.5167 1.0208.3444.2696.7948.4044 1.3513.4044.4371 0 .8213-.0898 1.1525-.2696.3312-.1926.6359-.4365.9141-.7319l.2186-.2311zM43.6247.115555h2.8218c1.4705 0 2.5833.27605 3.3385.828148.7683.539257 1.1525 1.309627 1.1525 2.311107 0 .53926-.1324 1.02075-.3974 1.44445-.265.4237-.616.78321-1.0532 1.07852-.4239.28247-.9075.50074-1.4507.65481-.5299.15408-1.0598.23111-1.5897.23111h-.7551v4.9111c0 .1027.0132.2183.0397.3467.0265.1155.0662.2247.1192.3274.0663.1027.1325.1926.1987.2696.0795.0771.1723.1156.2783.1156h.0993v.1926h-2.8019v-.1926h.0993c.0928 0 .1789-.0385.2584-.1156.0795-.077.1457-.1669.1987-.2696.053-.1027.0927-.2119.1192-.3274.0265-.1284.0398-.244.0398-.3467V1.30963c0-.17975-.053-.385186-.159-.616298-.106-.23111-.2583-.359505-.4571-.385184h-.0993V.115555zm2.0667.674075v5.2h.5961c.5299 0 1.0002-.07062 1.4109-.21185.424-.14124.775-.32741 1.0532-.55852.2782-.23111.4902-.49432.6359-.78963.1458-.29531.2186-.59704.2186-.90519 0-.37234-.0662-.71901-.1987-1.04-.1192-.33382-.3246-.62271-.616-.86666-.2782-.25679-.6492-.45581-1.1129-.59704-.4636-.154073-1.0333-.23111-1.7089-.23111h-.2782zM52.9078 12.8267v-.1926c.106 0 .1987-.0385.2782-.1156.0795-.077.1457-.1669.1987-.2696.053-.1027.0928-.2119.1193-.3274.0265-.1284.0397-.244.0397-.3467V6.24c0-.21827-.0331-.4237-.0994-.6163-.0662-.20543-.2583-.31456-.5762-.3274v-.17334l1.9871-.61629v7.06813c0 .1027.0133.2183.0398.3467.0265.1155.0662.2247.1192.3274.053.1027.1192.1926.1987.2696.0795.0771.1723.1156.2782.1156v.1926h-2.5833zm.0994-10.16892c0-.25679.0861-.47506.2583-.65482.1855-.17975.4107-.26963.6756-.26963.265 0 .4902.08988.6757.26963.1855.17976.2782.39803.2782.65482 0 .25679-.0927.46864-.2782.63555-.1855.16692-.4107.25037-.6757.25037-.2649 0-.4901-.08345-.6756-.25037-.1722-.16691-.2583-.37876-.2583-.63555zM64.0753 10.6311c0 .3338-.0861.642-.2583.9245-.1722.2824-.4107.5328-.7154.7511-.2914.2054-.6359.3723-1.0333.5007-.3975.1156-.828.1733-1.2917.1733-.5697 0-1.0333-.0706-1.391-.2118-.3577-.1541-.6624-.3082-.9141-.4622-.1723-.1027-.3312-.1862-.477-.2504-.1457-.077-.3047-.1156-.4769-.1156V10.477h.1987c.0398.1798.1524.3788.3379.5971.1987.2054.4305.398.6955.5778.2782.1797.5763.3338.8942.4622.3312.1155.6624.1733.9936.1733.2385 0 .4835-.0257.7353-.077.2517-.0514.4769-.1348.6756-.2504.212-.1156.3842-.2568.5167-.4237.1457-.1798.2186-.3916.2186-.6356 0-.2439-.0729-.4558-.2186-.6355-.1458-.1798-.3312-.33384-.5564-.46224-.2253-.14123-.4836-.26321-.775-.36592-.2915-.10272-.583-.19902-.8744-.28889-.3445-.10272-.6955-.21827-1.0532-.34667-.3445-.12839-.6558-.27605-.934-.44296-.2782-.17975-.5034-.39161-.6756-.63556-.1723-.25679-.2584-.55852-.2584-.90518 0-.29531.053-.57778.159-.84741.1192-.26963.3047-.50074.5564-.69333.265-.20544.6028-.36593 1.0135-.48148.4107-.1284.9075-.1926 1.4904-.1926.5166 0 .9141.04494 1.1923.13482.2914.07703.5299.16049.7154.25037.1192.0642.2384.11555.3577.15407.1192.02568.2517.03852.3974.03852v1.34815h-.159c-.2384-.4237-.6028-.74469-1.0929-.96296-.4902-.21828-.9936-.32741-1.5103-.32741-.3312 0-.616.04494-.8545.13481-.2384.07704-.4372.17976-.5961.30815-.1458.11556-.2584.25037-.3379.40445-.0662.15407-.0993.30814-.0993.46222 0 .21827.0596.40444.1788.55852.1325.15407.3047.28889.5167.40444.2252.11556.4703.22469.7353.32741.2782.10271.5696.19901.8743.28889.371.11555.7419.24395 1.1128.38518.371.1284.7022.28889.9936.48148.2915.1926.53.42371.7154.69334.1855.25679.2782.57139.2782.94369zM73.1197 12.1333c-.106 0-.2054.0257-.2981.0771-.0927.0385-.1987.0898-.318.154-.2252.1284-.51.2633-.8544.4045-.3445.1284-.7949.1926-1.3513.1926-.6757 0-1.3049-.1027-1.8879-.3082-.5696-.2182-1.0664-.5135-1.4903-.8859-.4107-.3852-.7353-.8281-.9738-1.3289-.2252-.51356-.3378-1.06566-.3378-1.65628 0-.5521.0994-1.07852.2981-1.57926.2119-.50074.51-.9437.8942-1.32889.3842-.38518.8545-.69333 1.4109-.92444.5697-.23111 1.2122-.34667 1.9276-.34667.4902 0 .8876.05778 1.1923.17334.3047.10271.563.20543.775.30814.1192.0642.2319.11556.3378.15408.1193.03852.2385.05778.3577.05778V6.76h-.1987c-.0662-.24395-.1855-.4558-.3577-.63556-.1722-.19259-.3709-.35308-.5961-.48148-.2253-.12839-.4703-.22469-.7353-.28889-.265-.06419-.5233-.09629-.775-.09629-.5432 0-1.0201.09629-1.4308.28889-.4107.17975-.7485.4237-1.0134.73185-.265.29531-.4637.63555-.5962 1.02074-.1325.38518-.1987.78321-.1987 1.19407 0 .47506.0795.94371.2384 1.40593.159.44934.3842.85384.6757 1.21334.3047.3595.669.6484 1.0929.8667.424.2182.9009.3274 1.4308.3274.371 0 .7088-.0514 1.0135-.1541.3179-.1027.5829-.2375.7949-.4045.2252-.1669.404-.3466.5365-.5392.1325-.2054.212-.398.2385-.5778h.1987v1.5022zM82.4306 11.5748c0 .1027.0132.2183.0397.3467.0265.1155.0663.2247.1193.3274.0662.1027.1324.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926H80.503v-.1926c.0928 0 .1789-.0385.2583-.1156.0795-.077.1458-.1669.1988-.2696.0662-.1027.1126-.2119.1391-.3274.0265-.1284.0397-.244.0397-.3467V7.99259c0-.46222-.0662-.86666-.1987-1.21333-.1325-.34667-.3113-.63556-.5365-.86667-.2253-.23111-.4836-.39802-.7751-.50074-.2782-.11555-.563-.17333-.8544-.17333-.2915 0-.5829.05778-.8744.17333-.2782.10272-.5299.25037-.7551.44296-.212.1926-.3909.43013-.5366.7126-.1325.26963-.1987.57136-.1987.90518v4.10221c0 .1027.0133.2183.0397.3467.0265.1155.0663.2247.1193.3274.0662.1027.1325.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926H74.462v-.1926c.0927 0 .1788-.0385.2583-.1156.0795-.077.1457-.1669.1987-.2696.0663-.1027.1126-.2119.1391-.3274.0265-.1284.0398-.244.0398-.3467V1.73333c0-.21827-.0332-.4237-.0994-.61629-.0662-.192596-.2583-.295312-.5763-.308151V.616296l1.9872-.597037V5.58519c.0927-.10272.212-.21186.3577-.32741.1457-.1284.3179-.24395.5167-.34667.2119-.11555.4504-.20543.7154-.26963.2782-.07704.6027-.11555.9737-.11555.6226 0 1.1525.10271 1.5897.30814.4372.20544.7949.47507 1.0731.80889.2782.32099.4769.6805.5962 1.07852.1324.38519.1987.76395.1987 1.1363v3.71702zM86.1114 8.9363c.053.44938.1656.8795.3378 1.2904.1722.398.3974.7511.6757 1.0592.2914.3082.6425.5585 1.0532.7511.4106.1798.8876.2697 1.4307.2697.2915 0 .5962-.0386.9141-.1156.3312-.0899.6359-.2118.9142-.3659.2782-.1541.5232-.3403.7352-.5585.2252-.2311.3776-.4879.4571-.7704h.1788v1.4444c-.0795 0-.1722.0257-.2782.0771-.0927.0513-.2053.1155-.3378.1926-.265.154-.6227.321-1.0731.5007-.4504.1669-1.0466.2504-1.7885.2504-.5961 0-1.1658-.0835-1.709-.2504-.5299-.1669-1.0002-.4237-1.4109-.7704-.4106-.3466-.7418-.7896-.9935-1.3288-.2385-.5393-.3577-1.18128-.3577-1.92597 0-.47507.0794-.95655.2384-1.44445.1722-.4879.424-.92444.7552-1.30963.3444-.39802.7816-.71901 1.3115-.96296.5299-.24395 1.1658-.36593 1.9077-.36593.6624 0 1.2387.10914 1.7289.32741.5034.21827.9141.52 1.232.90519.3312.38518.5763.84098.7353 1.3674.1589.52642.2384 1.1042.2384 1.73334h-6.8955zm2.8814-3.69778c-.4637 0-.8677.08987-1.2122.26963-.3312.17975-.616.41086-.8545.69333-.2384.28247-.4239.60346-.5564.96296-.1325.35951-.2186.71902-.2583 1.07852h5.6635c-.0133-.37234-.0861-.73827-.2186-1.09777-.1193-.35951-.2915-.6805-.5167-.96297-.2252-.28247-.51-.50716-.8545-.67407-.3444-.17976-.7419-.26963-1.1923-.26963zM94.7428 12.8267v-.1926c.106 0 .1987-.0385.2782-.1156.0795-.077.1457-.1669.1987-.2696.0662-.1027.1126-.2119.1391-.3274.0265-.1284.0397-.244.0397-.3467V1.71407c0-.21827-.0331-.4237-.0993-.61629-.0663-.192595-.265-.295311-.5962-.30815V.597036L96.7101 0v11.5748c0 .1027.0132.2183.0397.3467.0265.1155.0663.2247.1193.3274.0662.1027.1324.1926.1987.2696.0795.0771.1722.1156.2782.1156v.1926h-2.6032zM99.5407 12.8267v-.1926c.106 0 .1988-.0385.2782-.1156.0795-.077.1458-.1669.1991-.2696.053-.1027.092-.2119.119-.3274.026-.1284.04-.244.04-.3467V6.24c0-.21827-.033-.4237-.1-.6163-.066-.20543-.258-.31456-.576-.3274v-.17334l1.987-.61629v7.06813c0 .1027.013.2183.04.3467.026.1155.066.2247.119.3274.053.1027.119.1926.199.2696.079.0771.172.1156.278.1156v.1926h-2.5833zm.0994-10.16892c0-.25679.0861-.47506.2583-.65482.1856-.17975.4106-.26963.6756-.26963.265 0 .49.08988.676.26963.185.17976.278.39803.278.65482 0 .25679-.093.46864-.278.63555-.186.16692-.411.25037-.676.25037-.265 0-.49-.08345-.6756-.25037-.1722-.16691-.2583-.37876-.2583-.63555zM112.238 11.5748c0 .1027.014.2183.04.3467.027.1155.066.2247.119.3274.067.1027.133.1926.199.2696.08.0771.172.1156.278.1156v.1926h-2.563v-.1926c.093 0 .179-.0385.258-.1156.08-.077.146-.1669.199-.2696.066-.1027.112-.2119.139-.3274.026-.1284.04-.244.04-.3467V7.99259c0-.46222-.067-.86666-.199-1.21333-.132-.34667-.311-.63556-.537-.86667-.225-.23111-.483-.39802-.775-.50074-.278-.11555-.563-.17333-.854-.17333-.291 0-.583.05778-.874.17333-.279.11556-.53.26963-.756.46222-.211.17976-.39.39803-.536.65482-.133.24395-.199.50074-.199.77037v4.27554c0 .1027.013.2183.04.3467.026.1155.066.2247.119.3274.066.1027.133.1926.199.2696.079.0771.172.1156.278.1156v.1926h-2.583v-.1926c.093 0 .179-.0385.258-.1156.08-.077.146-.1669.199-.2696.066-.1027.112-.2119.139-.3274.026-.1284.04-.244.04-.3467V6.25926c0-.21827-.033-.4237-.1-.6163-.066-.20543-.258-.31457-.576-.3274v-.17334l1.987-.61629v1.05926c.093-.10272.212-.21186.358-.32741.146-.1284.318-.24395.517-.34667.212-.11555.45-.20543.715-.26963.278-.07704.603-.11555.974-.11555.622 0 1.152.10271 1.589.30814.438.20544.795.47507 1.074.80889.278.32099.476.6805.596 1.07852.132.38519.198.76395.198 1.1363v3.71702zM120.072 12.8267v-.9823l-.099.0963c-.331.321-.715.5714-1.152.7512-.424.1797-.941.2696-1.55.2696-.464 0-.862-.0514-1.193-.1541-.331-.1027-.603-.2439-.815-.4237-.212-.1926-.371-.4109-.476-.6548-.093-.244-.14-.5008-.14-.7704 0-.4365.12-.8217.358-1.15554.252-.33382.61-.62913 1.073-.88592.464-.25679 1.027-.4879 1.689-.69334.676-.21827 1.444-.43012 2.305-.63555-.026-.50074-.132-.90519-.318-1.21334-.185-.30814-.404-.54567-.655-.71259-.252-.17975-.517-.29531-.795-.34666-.278-.0642-.517-.0963-.716-.0963-.344 0-.649.05136-.914.15407-.251.10272-.477.23753-.675.40445-.186.15407-.345.32741-.477.52-.133.17975-.239.35308-.318.52h-.179V5.41185c.106-.01284.205-.04494.298-.09629.093-.05136.205-.10272.338-.15408.199-.07704.47-.18617.815-.32741.344-.15407.828-.23111 1.45-.23111.729 0 1.318.08988 1.769.26963.45.17976.795.41729 1.033.7126.252.2953.418.63555.497 1.02074.079.37234.119.75753.119 1.15555v3.81332c0 .2568.06.5008.179.7319.119.2182.278.3274.477.3274v.1926h-1.928zm0-1.8297V8.24296l-.198.03852c-.318.07704-.709.17975-1.173.30815-.45.1284-.881.29531-1.291.50074-.411.20543-.762.44938-1.054.73185-.291.28248-.437.60988-.437.98218 0 .4109.172.7512.517 1.0208.344.2696.795.4044 1.351.4044.437 0 .822-.0898 1.153-.2696.331-.1926.636-.4365.914-.7319l.218-.2311z')
        .col-12.col-md-8
          .row
            .col-12.col-lg-6
              .s-page-footer__contact-block
                .row
                  .col-5
                    .s-page-footer__contact-desc Возникли вопросы, пишите сюда:
                  .col-7
                    a.s-page-footer__contact-link(href='https://www.instagram.com/topbeauty.biz/', rel='noopener', target='_blank') @topbeauty.biz
            .col-12.col-lg-6
              .s-page-footer__contact-block
                .row
                  .col-5
                    .s-page-footer__contact-desc Мой Instagram:
                  .col-7
                    .row
                      .col-12
                        a.s-page-footer__contact-link(href='https://www.instagram.com/mua_yuliapishchelina/', rel='noopener', target='_blank') @mua_yuliapishchelina
                      .col-12
                        a.s-page-footer__contact-link(href='https://www.instagram.com/yuppie_brushes/', rel='noopener', target='_blank') @yuppie_brushes
        .col-12
          .s-page-footer__copyright © 2021 — Yulia Pischelina