.s-for-whom {
  @include section-padding;
  overflow: hidden;

  @include media-min-lg {
    padding: 60px 0 128px;
  }

  &__subtitle {
    @include section-subtitle;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.25em;
    font-weight: 900;

    span {
      color: $primary-color;
    }

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
    }

    @include media-min-lg {
      font-size: ms(3);
      line-height: 90%;
    }
  }

  &__quote {
    position: relative;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 500;
    padding-top: 10px;

    &::before {
      position: absolute;
      content: '';
      width: 184px;
      height: 163px;
      left: -90px;
      top: -60px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 184 163'%3E%3Cpath fill='%2334B6C6' d='M139.171 0c13.828 0 24.756 5.38844 32.785 16.1653C179.985 26.9422 184 42.2094 184 61.9669c0 18.8595-4.238 36.3719-12.713 52.5371-8.029 15.716-20.295 31.657-36.8 47.822-.446.449-1.115.674-2.007.674-1.338 0-2.453-.674-3.345-2.021-.893-1.347-.893-2.469 0-3.367 21.857-22.452 32.785-48.945 32.785-79.4797 0-12.5731-2.23-21.7783-6.691-27.6158-4.014 6.7356-11.374 10.1033-22.08 10.1033-8.921 0-16.058-2.6942-21.411-8.0826-4.906-5.8375-7.36-13.2465-7.36-22.2273 0-9.8788 2.9-17.2879 8.698-22.22724C119.321 2.69422 128.019 0 139.171 0zM34.7927 0c13.8279 0 24.7564 5.38844 32.7855 16.1653 8.0291 10.7769 12.0436 26.0441 12.0436 45.8016 0 18.8595-4.2376 36.3719-12.7127 52.5371-8.0291 15.716-20.2958 31.657-36.8 47.822-.4461.449-1.1152.674-2.0073.674-1.3382 0-2.4533-.674-3.3454-2.021-.8922-1.347-.8922-2.469 0-3.367 21.8569-22.452 32.7854-48.945 32.7854-79.4797 0-12.5731-2.2303-21.7783-6.6909-27.6158-4.0145 6.7356-11.3745 10.1033-22.08 10.1033-8.9212 0-16.0582-2.6942-21.4109-8.0826C2.45333 46.6997 0 39.2907 0 30.3099 0 20.4311 2.89939 13.022 8.69818 8.08266 14.943 2.69422 23.6412 0 34.7927 0z' opacity='.25'/%3E%3C/svg%3E");
    }
  }
}