.s-page-footer {
  background-color: $bg-color--dark;
  color: $text-color--light;
  padding: 2.25rem 0;

  @include media-min-sm {
    padding: 3rem 0;
  }

  &__logo {
    margin-bottom: 1.5rem;
  }

  &__contact-block {
    margin-bottom: 1.5rem;

    @include media-min-sm {
      padding-top: 0.5rem;
    }
  }

  &__contact-desc {
    font-size: ms(-1);
    line-height: 1.5em;
    color: $text-color--light;
  }

  &__contact-link {
    display: inline-block;
    font-size: ms(-1);
    line-height: 1.5em;
    text-decoration: none;
    position: relative;
    color: #fff;
    vertical-align: top;

    &::before {
      content: '';
      position: absolute;
      left: -0.25rem;
      right: -0.25rem;
      top: -0.25rem;
      bottom: -0.25rem;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: currentColor;
      height: 1px;
      transform: scaleX(1);
      transition: transform 0.5s $transition-timing;
      transform-origin: center left;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;

      &::after {
        transform: scaleX(0);
        transform-origin: center right;
      }
    }
  }

  &__copyright {
    font-size: ms(-2);
    opacity: 0.5;
    line-height: 1.5em;
    padding-top: 2.25rem;

    @include media-min-sm {
      padding-top: 3.75rem;
    }

    @include media-min-md {
      padding-top: 9rem;
    }
  }
}