.s-about-the-marathon {
  background-color: $bg-color--shade;
  position: relative;

  &__content {
    padding: 1.5rem 0 2.25rem;

    @include media-min-sm {
      padding: 2.25rem 0;
    }

    @include media-min-md {
      padding: 4.5rem 0;
    }

    @include media-min-xl {
      padding: 92px 0 159px;
    }
  }

  &__subtitle {
    @include section-subtitle;
  }

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 1.5em;

    ul {
      padding: 0;
      margin-top: 15px;
      margin-bottom: 0;
      list-style: none;

      li {
        position: relative;
        padding-left: 20px;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 5px;
          height: 5px;
          border-radius: 5px;
          transform: translateY(10px);
          background-color: #94b7a2;
        }
      }
    }
  }

  &__cover {
    position: relative;

    @include media-max-md {

      &::before {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: (3 / 4) * 100%;
      }
    }

    @include media-min-md {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(50% - 132px);
      height: 100%;
    }
  }

  &__cover-wrap {
    width: 100%;
    height: 100%;

    @include media-max-md {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }
}