.s-my-works {
  background-color: $bg-color--dark;
  color: $text-color--light;
  @include section-padding;

  &__subtitle {
    @include section-subtitle;
  }

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      margin-bottom: 2.25rem;
    }
  }

  &__slider {}

  &__item {
    position: relative;
    max-width: 700px;
    margin: 0;

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-bottom: (3 / 4) * 100%;

      @include media-min-sm {
        padding-bottom: (9 / 16) * 100%;
      }
    }
  }

  &__item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-progressbar {
    position: relative;
    margin-top: 1.5rem;
    width: 100%;
    height: 1px;
    background-color: rgba($text-color--light, 0.125);

    @include media-min-sm {
      margin-top: 2.25rem;
    }

    .swiper-pagination-progressbar-fill {
      background-color: $text-color--light;
    }
  }
}