.s-tariffs {
  background-color: $bg-color--dark;
  color: $text-color--light;
  @include section-padding;

  @include media-min-lg {
    padding: 180px 0 90px;
  }

  &__subtitle {
    @include section-subtitle;
  }

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      margin-bottom: 2.25rem;
    }

    @include media-min-lg {
      margin-bottom: 60px;
    }
  }

  &__tariff {
    border: 1px solid transparent;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }

    @include media-min-md {
      padding: 3rem 2.25rem;
    }

    @include media-max-sm {
      border-color: $primary-color;
    }

    &--accent {
      border-color: $primary-color;
    }
  }

  &__tariff-title {
    font-size: ms(1);
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: 'Forum', cursive;
    font-weight: 400;

    @include media-min-sm {
      margin-bottom: 2.25rem;
    }

    @include media-min-lg {
      font-size: ms(2);
      line-height: 100%;
    }

    span {
      color: $primary-color;
    }
  }

  &__tariff-price {
    font-size: ms(2);
    line-height: 1em;
    position: relative;
    margin-bottom: 1.5rem;
    font-family: 'Cormorant', serif;
    font-weight: 300;

    span {
      font-size: 28px;
    }

    &::before {
      position: absolute;
      content: '';
      top: -5px;
      left: 0;
      width: 60px;
      height: 1px;
      background-color: currentColor;
    }

    @include media-min-xl {
      font-size: ms(4);
      margin-bottom: 2.25rem;
      line-height: 80%;
    }
  }

  &__include-title {
    font-size: ms(-2);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 0.5rem;
    letter-spacing: 0.125em;
  }

  &__include-list {
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 0;
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      margin-bottom: 2.25rem;
    }

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 0.25rem;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        transform: translateY(10px);
        background-color: $primary-color;
      }

      span {
        color: $primary-color;
      }
    }
  }

  &__tariff-action {
    width: 100%;
    margin-top: auto;
  }
}