.s-info-in-numbers {
  background-color: $bg-color--shade;
  @include section-padding;
  position: relative;
  overflow: hidden;

  @include media-min-lg {
    padding: 90px 0 116px;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 270px;
    height: 250px;
    opacity: 0.4;
    transform: translate3d(100%,-50%,0);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 540 500'%3E%3Cg fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath fill='%2398D4B4' d='M126.603 407.641C36.0808 276.364 301.745 104.883 359.58 321.222c37.816 131.857-146.406 204.354-221.848 98.964l-11.13-12.541'/%3E%3Cpath fill='%2355899A' d='M524.893 133.75c30.918 35.272-40.843 94.393-65.119 33.156-15.542-37.231 35.801-64.676 61.428-36.445l3.691 3.289M158.744 270.16c-25.087-2.845-48.011-14.136-64.5897-33.269-15.7565-18.201-24.3867-41.682-27.4244-65.309-6.0251-46.88 10.1799-101.2272 51.3521-128.0977 22.151-14.4573 49-17.8405 74.777-13.7265 17.169 2.742 33.7 8.7406 49.335 16.1828 16.006 7.6033 30.438 17.449 41.913 31.0572 42.321 50.1512 23.891 127.6382-23.867 167.1292-14.464 11.97-31.877 20.281-50.282 24.074-16.859 3.473-34.123 1.748-51.214 1.959-1.453.014-1.484 3.753-.06 3.731 14.097-.164 28.365 1.121 42.386-.53 15.75-1.849 30.977-7.142 44.649-15.122 26.321-15.355 45.868-40.781 56.224-69.169 10.143-27.785 11.063-59.263.14-86.95-12.649-32.0498-39.643-51.9542-70.623-64.8405-26.913-11.19-57.038-16.9415-85.752-9.7001-22.895 5.7724-42.277 20.2469-56.0779 39.1353C61.6521 105.01 56.2158 159.645 72.1584 203.767c6.4337 17.783 16.8573 34.197 31.1976 46.672 15.51 13.489 34.992 21.144 55.328 23.452 1.384.164 1.536-3.563.06-3.731'/%3E%3Cpath fill='%2355899A' d='M134.193 254.76c-24.267-8.873-43.7036-26.168-54.179-49.853-10.0396-22.691-10.8621-48.71-5.9974-72.754 9.6336-47.5975 45.4304-94.6529 97.0054-98.4669 30.963-2.294 60.314 11.9534 84.371 30.1949 15.091 11.4363 28.224 24.7652 36.756 41.819 7.401 14.79 10.407 31.379 9.507 47.832-1.763 32.615-19.544 63.293-44.336 84.012-26.197 21.903-60.91 31.278-94.478 24.41-9.693-1.982-19.248-5.053-28.929-7.269-1.282-.291-1.528 3.411-.063 3.741 14.145 3.244 28.041 7.992 42.563 9.252 16.399 1.442 32.995-1.204 48.349-7.051 29.807-11.337 54.158-35.344 67.746-63.9 13.285-27.925 15.448-60.486 3.234-89.147-6.913-16.2604-18.497-30.1558-32.124-41.2627-13.483-10.986-27.89-20.7321-43.962-27.5479-24.11-10.2238-51.085-12.3043-75.702-2.6462-22.334 8.7715-40.231 26.2654-52.754 46.3625C66.204 122.59 59.3223 179.461 85.5251 220.689c11.2524 17.709 28.4289 30.487 48.0549 37.665 1.516.56 1.876-3.133.613-3.594'/%3E%3Cpath fill='%2355899A' d='M169.737 210.269c-26.431-3.132-44.202-23.482-48.546-48.987-4.026-23.664 3.15-50.683 22.267-66.1886 24.056-19.502 61.197-10.6051 83.97 6.5606 27.801 20.945 26.365 60.782 5.562 86.027-7.72 9.364-18.021 16.315-29.567 20.041-11.037 3.564-22.308 2.451-33.686 2.547-1.453.014-1.487 3.763-.053 3.744 6.773-.058 13.606.509 20.36.023 7.895-.574 15.626-2.812 22.721-6.263 13.592-6.607 24.289-18.345 30.873-31.802 13.339-27.281 7.912-60.828-17.261-79.1512-22.67-16.508-57.962-23.8782-82.008-6.4279-19.136 13.8901-27.165 39.1221-26.216 61.9431 1.257 30.316 19.846 57.915 51.531 61.678 1.374.161 1.527-3.567.053-3.744'/%3E%3Cpath fill='%2355899A' d='M158.919 197.373c-26.184-9.653-35.263-37.125-28.326-62.669 6.609-24.352 27.434-45.1001 54.089-42.3515 16.372 1.6927 32.629 11.9855 43.529 23.8805 11.914 13.014 14.767 30.944 9.021 47.371-5.418 15.472-17.954 28.123-33.001 34.444-7.675 3.224-16.044 4.404-24.327 3.841-7.227-.487-14.229-2.968-21.265-4.59-1.278-.29-1.536 3.409-.063 3.741 7.077 1.623 14.007 3.951 21.265 4.59 8.14.71 16.367-.714 23.974-3.605 14.715-5.584 26.658-17.609 33.226-31.741 6.225-13.388 7.299-29.412 1.361-43.098-6.853-15.79-22.065-27.5066-37.584-34.226-11.959-5.1792-25.35-6.2401-37.641-1.5974-11.084 4.1809-19.94 12.8494-26.171 22.7154-12.45 19.714-15.508 47.689-2.759 67.997 5.597 8.919 14.238 15.276 24.056 18.902 1.509.548 1.867-3.135.616-3.604'/%3E%3Cpath fill='%2355899A' d='M112.895 229.338c-23.5657-16.624-37.0202-42.376-36.9409-71.178.0753-27.616 11.6621-54.788 28.7739-76.1461 16.764-20.9248 40.467-37.3828 67.392-41.396 31.097-4.6429 59.919 9.9584 81.438 31.4856 14.56 14.5671 27.604 32.1975 34.096 51.8755 5.878 17.842 5.445 37.062-.404 54.835-11.32 34.366-41.935 60.776-76.289 70.742-18.024 5.226-37.403 5.404-55.502.431-15.404-4.221-28.602-13.242-42.564-20.649-1.364-.716-1.829 2.959-.613 3.593 14.009 7.431 27.168 16.245 42.563 20.65 17.111 4.915 35.214 4.789 52.46.686 33.939-8.074 63.841-32.714 78.145-64.434 6.909-15.321 9.687-32.18 8.029-48.894-1.9-19.245-10.45-36.345-21.685-51.8095-18.997-26.1387-45.829-49.0348-79.077-52.6683C137.792 30.4393 91.4188 79.6225 78.0057 128.78c-5.0307 18.435-5.7266 38.112-.4987 56.575 5.5437 19.548 18.2587 35.934 34.775 47.576 1.179.832 1.741-2.796.613-3.593'/%3E%3Cpath fill='%2355899A' d='M176.26 185.904c-27.488-3.952-37.076-36.949-26.266-59.693 5.461-11.496 16.29-18.388 29.044-18.199 16.719.247 35.68 10.488 41.982 26.368 5.361 13.522 1.298 29.346-8.183 39.984-4.654 5.229-10.784 8.866-17.515 10.731-6.239 1.729-12.693.871-19.062.809-1.448-.005-1.508 3.727-.063 3.741 6.977.069 13.697.71 20.531-1.19 7.213-2.005 13.502-6.58 18.306-12.213 9.313-10.941 12.522-26.436 8.95-40.223-6.857-26.486-47.884-43.1941-68.595-22.323-22.319 22.485-12.902 71.098 20.808 75.949 1.355.197 1.536-3.522.063-3.741'/%3E%3Cpath fill='%2355899A' d='M162.174 190.687c-26.8-9.962-31.489-40.865-20.165-64.411 5.346-11.114 14.402-20.586 26.198-24.742 14.171-4.9966 29.086.157 41.012 8.156 11.101 7.449 20.166 17.511 22.377 31.048 1.899 11.657-2.139 23.493-8.804 32.974-6.759 9.601-16.971 16.606-28.292 19.609-11.301 3.007-21.628-.197-32.596-2.706-1.29-.283-1.537 3.409-.063 3.741 7.35 1.686 14.401 4.025 22.031 4.052 7.991.03 15.875-2.353 22.821-6.174 13.404-7.37 22.959-20.828 26.328-35.609 3.567-15.595-1.634-31.449-13.043-42.489-10.808-10.467-25.852-18.7218-41.238-18.2717-23.367.6699-39.053 22.4407-43.502 43.4157-4.75 22.382 3.696 46.598 26.32 55.011 1.516.56 1.876-3.133.616-3.604'/%3E%3Cpath fill='%2355899A' d='M164.599 170.172c-25.198-18.186 1.109-61.532 29.042-51.763 8.239 2.884 14.788 10.096 19.178 17.371 5.551 9.196 4.063 20.092-2.215 28.479-5.455 7.286-14.102 11.933-23.104 12.892-8.759.941-15.52-3.055-22.901-6.979-1.36-.715-1.829 2.959-.615 3.603 7.366 3.9 13.736 7.502 22.378 7.19 8.472-.295 16.473-4.464 22.456-10.287 5.734-5.59 9.055-13.178 9.603-21.115.619-9.085-3.839-17.111-9.484-23.874-9.528-11.416-24.074-16.172-37.473-8.552-11.192 6.371-18.358 19.115-19.257 31.748-.708 9.938 3.74 19.087 11.777 24.89 1.161.837 1.732-2.789.615-3.603z'/%3E%3Cpath fill='%2355899A' d='M100.658 207.349c-20.8015-23.803-25.3615-54.867-14.2616-84.172C96.936 95.3544 119.423 71.9851 145.828 58.5617c26.239-13.3227 57.365-15.3668 83.396-.4689 15.66 8.9666 27.623 23.1489 36.649 38.518 11.086 18.8722 19.326 40.4012 18.5 62.5522-1.485 39.245-32.488 70.373-68.17 82.627-17.989 6.175-37.596 7.396-56.177 3.368-9.719-2.113-19.002-5.967-27.544-11.007-8.574-5.059-14.966-11.858-22.303-18.362-3.175-2.81-6.346-5.629-9.521-8.44-1.3889-1.228-2.0775 2.346-1.1062 3.215 12.0992 10.719 22.9632 22.45 37.4742 30.056 16.596 8.69 35.692 11.803 54.266 10.192 35.834-3.108 70.363-24.745 86.393-57.191 17.808-36.059 5.71-77.522-16.238-108.971-17.956-25.7367-45.264-42.6589-77.335-40.6818C128.327 47.4103 76.0537 102.532 78.1798 158.662c.7336 19.367 8.6896 37.382 21.372 51.902 1.1792 1.347 1.9612-2.243 1.1062-3.215'/%3E%3Cpath fill='%2355899A' d='M125.018 216.257c-23.976-16.961-34.3828-44.458-29.8478-73.143 4.304-27.208 20.4168-52.6739 42.3328-69.2275 22.436-16.9309 51.408-21.9044 77.369-10.174 16.376 7.3821 29.655 20.2442 40.534 34.2608 12.775 16.4747 21.236 35.1817 20.227 56.3547-1.656 34.41-28.232 63.623-59.204 76.022-15.779 6.312-33.19 7.985-49.861 4.706-15.334-3.016-28.005-11.596-41.55-18.799-1.357-.724-1.826 2.949-.612 3.604 14.146 7.509 27.197 16.005 43.201 19.148 17.575 3.459 35.93.696 52.291-6.276 31.493-13.416 55.675-43.847 57.815-78.365 1.15-18.616-5.135-36.794-15.633-51.999-10.279-14.8988-22.855-28.5327-38.452-37.9674-23.984-14.5055-52.614-14.1275-76.835-.5233-44.347 24.9173-72.7492 90.5707-42.32 135.9947 5.289 7.897 12.194 14.502 19.933 19.988 1.176.831 1.741-2.807.612-3.604'/%3E%3Cpath fill='%2355899A' d='M114.751 197.758c-44.3364-50.897 6.876-125.4624 65.396-133.521 14.505-1.9965 29.193.6911 41.99 7.7567 16.263 8.9621 27.759 24.455 35.919 40.7383 9.864 19.723 14.913 41.152 8.018 62.661-5.824 18.141-19.38 32.975-35.469 42.786-19.013 11.611-42.244 16.034-64.15 11.788-11.352-2.199-22.037-7.151-31.354-13.936-7.322-5.323-13.573-12.259-20.35-18.273-1.386-1.238-2.075 2.336-1.104 3.205 12.478 11.068 23.473 22.586 39.37 28.87 17.039 6.723 36.01 6.911 53.598 2.343 34.852-9.049 63.374-38.837 64.882-75.547.836-20.3-7.533-40.428-17.99-57.4394-8.624-14.0126-20.502-26.2004-35.552-33.2385-26.563-12.4178-57.209-4.3404-80.011 12.1208-18.988 13.713-34.219 34.0461-39.9743 56.8921-5.9511 23.619-.362 47.588 15.6773 65.999 1.178 1.347 1.955-2.234 1.104-3.205'/%3E%3Cpath fill='%2355899A' d='M110.241 174.181C81.3796 114.868 155.743 56.6391 211.712 73.0883c35.526 10.4471 51.147 51.2727 49.439 85.3787-1.911 37.863-36.301 62.799-72.1 64.853-16.808.968-33.738-3.269-47.918-12.336-14.31-9.152-21.857-23.062-30.892-36.803-1.207-1.83-2.248 1.505-1.52 2.619 8.737 13.289 15.985 26.438 29.192 35.998 13.816 10.001 31.069 14.541 47.994 14.368 33.305-.357 65.782-20.673 74.901-53.552 5.085-18.318 2.096-38.67-3.634-56.482-4.83-15.001-13.378-28.7973-26.124-38.3269-23.154-17.2877-55.021-14.4509-79.808-2.4433-18.203 8.8332-34.185 23.3807-43.046 41.6692-9.109 18.791-8.5591 40.091.525 58.769.943 1.935 2.085-1.456 1.52-2.619'/%3E%3Cpath fill='%2355899A' d='M110.206 155.889c-12.5237-57.3515 59.356-92.5307 106.85-74.3003 12.094 4.6372 22.318 13.0793 29.02 24.1523 8.609 14.225 10.396 31.386 9.339 47.652-1.192 18.388-6.937 35.579-20.705 48.385-11.644 10.835-27.404 16.418-43.101 17.528-18.785 1.317-37.896-4.205-52.959-15.469-8.182-6.11-14.765-14.188-19.451-23.214-4.024-7.776-6.055-16.516-8.993-24.734-.826-2.317-2.338.438-1.828 1.854 5.08 14.211 8.831 27.974 18.909 39.712 10.098 11.753 24.145 19.514 39.061 23.316 29.755 7.583 63.662-2.493 80.377-29.088 9.328-14.85 11.526-33.361 11.001-50.556-.432-14.538-4.007-29.203-12.277-41.3352-14.439-21.2243-40.776-28.8538-65.395-26.3711-20.779 2.0949-41.353 11.2129-55.861 26.3507-14.985 15.6396-20.404 36.9756-15.815 57.9716.518 2.389 2.135-.441 1.828-1.854'/%3E%3Cpath fill='%23737576' d='M23.5316 399.492c33.8465-24.488 80.5714 43.759 24.1912 60.262-34.3444 10.732-54.56768-36.896-27.4106-57.276l3.2194-2.986M332.507 358.372c-22.336-58.56 49.303-107.441 102.197-92.34 13.506 3.848 25.177 12.336 33.157 23.854 10.697 15.465 13.863 34.656 14.319 53.072.468 18.449-6.216 36.133-19.422 49.12-11.876 11.701-28.132 18.32-44.535 20.325-18.641 2.284-37.932-1.872-53.75-12.026-8.528-5.47-15.689-12.908-21.138-21.405-4.236-6.614-7.265-14.062-10.984-20.982-1.03-1.907-2.135 1.473-1.514 2.63 7.389 13.755 13.342 27.311 25.513 37.75 12.3 10.577 28.024 16.453 44.084 18.001 31.887 3.073 64.962-12.614 78.114-42.546 7.432-16.926 6.768-36.647 3.45-54.464-2.827-15.137-9.056-29.82-19.879-41.004-19.071-19.696-48.541-22.288-73.759-14.938-20.39 5.946-39.241 18.725-51.139 36.398-12.113 17.977-14.229 40.268-6.538 60.411.864 2.296 2.362-.432 1.824-1.856z'/%3E%3C/g%3E%3C/svg%3E");
  }

  &__subtitle {
    @include section-subtitle;

    @include media-min-lg {
      margin-bottom: 45px;
    }
  }

  &__item {
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;

    @include media-min-lg {
      margin-bottom: 0;
    }
  }

  &__term {
    font-size: ms(2);
    line-height: 1em;
    position: relative;
    font-weight: 700;
    flex-shrink: 0;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: -30px;
      height: 100%;
      width: 1px;
      background-color: currentColor;
      transform: rotate(45deg);
      transform-origin: center left;

      @include media-min-sm {
        right: -40px;
      }
    }

    @include media-min-md {
      font-size: ms(3);
    }

    @include media-min-lg {
      font-size: ms(4);
    }
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.4em;
    padding-left: 60px;
    padding-bottom: 5px;
  }
}