.s-about-me {
  position: relative;
  overflow: hidden;

  @include media-min-lg {
    padding: 120px 0 90px;
  }

  &::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    width: 540px;
    height: 500px;
    opacity: 0.4;
    transform: translate3d(-30%,15%,0) rotate(30deg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 500 500'%3E%3Cg fill-rule='evenodd' clip-rule='evenodd' %3E%3Cpath fill='%2398D4B4' d='M125.539 407.641C35.7777 276.364 299.21 104.883 356.56 321.222c37.498 131.857-145.177 204.354-219.985 98.964l-11.037-12.541'/%3E%3Cpath fill='%2355899A' d='M157.41 270.16c-24.876-2.845-47.608-14.136-64.0467-33.269-15.6242-18.201-24.1819-41.682-27.1941-65.309-5.9744-46.88 10.0944-101.2272 50.9208-128.0977 21.965-14.4573 48.589-17.8405 74.149-13.7265 17.025 2.742 33.416 8.7406 48.92 16.1828 15.872 7.6033 30.182 17.449 41.561 31.0572 41.965 50.1512 23.69 127.6382-23.666 167.1292-14.342 11.97-31.61 20.281-49.86 24.074-16.717 3.473-33.837 1.748-50.784 1.959-1.44.014-1.471 3.753-.059 3.731 13.979-.164 28.126 1.121 42.029-.53 15.619-1.849 30.718-7.142 44.274-15.122 26.101-15.355 45.484-40.781 55.753-69.169 10.057-27.785 10.969-59.263.138-86.95-12.543-32.0499-39.31-51.9542-70.029-64.8405-26.687-11.19-56.56-16.9415-85.032-9.7001-22.702 5.7724-41.922 20.2469-55.6069 39.1353-27.743 38.2953-33.1337 92.9303-17.325 137.0523 6.3797 17.783 16.7157 34.197 30.9349 46.672 15.38 13.489 34.698 21.144 54.864 23.452 1.372.164 1.523-3.563.059-3.731'/%3E%3Cpath fill='%2355899A' d='M133.066 254.76c-24.063-8.873-43.3367-26.168-53.7241-49.853-9.9552-22.692-10.7708-48.71-5.947-72.754 9.5527-47.5977 45.0491-94.6531 96.1901-98.4671 30.703-2.294 59.808 11.9534 83.662 30.1949 14.964 11.4363 27.988 24.7651 36.448 41.8192 7.339 14.79 10.32 31.379 9.427 47.831-1.749 32.616-19.38 63.294-43.964 84.013-25.977 21.903-60.398 31.278-93.684 24.41-9.611-1.982-19.086-5.053-28.686-7.269-1.271-.291-1.515 3.411-.062 3.741 14.026 3.244 27.805 7.991 42.205 9.252 16.261 1.441 32.718-1.204 47.943-7.051 29.556-11.337 53.702-35.344 67.177-63.9 13.173-27.926 15.318-60.486 3.207-89.148-6.855-16.2596-18.342-30.1551-31.855-41.262-13.37-10.9859-27.655-20.7321-43.593-27.5479-23.906-10.2237-50.655-12.3042-75.065-2.6461-22.146 8.7715-39.893 26.2654-52.3111 46.3624C65.648 122.59 58.824 179.461 84.8067 220.689c11.1579 17.709 28.1903 30.487 47.6513 37.664 1.503.56 1.86-3.132.608-3.593'/%3E%3Cpath fill='%2355899A' d='M168.311 210.269c-26.209-3.133-43.83-23.482-48.138-48.987-3.992-23.664 3.123-50.683 22.08-66.1887 23.853-19.5021 60.683-10.6051 83.265 6.5597 27.567 20.946 26.143 60.783 5.515 86.028-7.656 9.364-17.87 16.314-29.319 20.041-10.944 3.564-22.12 2.451-33.403 2.547-1.441.014-1.474 3.763-.053 3.744 6.716-.058 13.492.509 20.189.023 7.829-.574 15.495-2.812 22.53-6.263 13.479-6.607 24.085-18.345 30.614-31.802 13.227-27.281 7.846-60.828-17.116-79.1513-22.479-16.508-57.475-23.8782-81.319-6.4279-18.975 13.8902-26.937 39.1222-25.995 61.9432 1.246 30.316 19.679 57.915 51.097 61.678 1.363.161 1.514-3.567.053-3.744'/%3E%3Cpath fill='%2355899A' d='M157.584 197.373c-25.964-9.653-34.966-37.125-28.088-62.669 6.553-24.353 27.203-45.1003 53.634-42.3517 16.235 1.6928 32.355 11.9857 43.164 23.8807 11.814 13.013 14.643 30.944 8.945 47.371-5.373 15.472-17.803 28.123-32.724 34.444-7.611 3.224-15.909 4.404-24.122 3.841-7.167-.487-14.11-2.968-21.087-4.591-1.267-.29-1.523 3.409-.062 3.741 7.018 1.624 13.889 3.951 21.087 4.591 8.071.71 16.229-.714 23.772-3.605 14.591-5.584 26.434-17.609 32.947-31.741 6.172-13.388 7.238-29.412 1.349-43.098-6.795-15.79-21.88-27.5067-37.268-34.2262-11.859-5.1792-25.137-6.2401-37.325-1.5973-10.99 4.1809-19.772 12.8495-25.951 22.7155-12.345 19.714-15.378 47.689-2.736 67.997 5.55 8.919 14.119 15.276 23.854 18.902 1.496.548 1.851-3.135.611-3.604'/%3E%3Cpath fill='%2355899A' d='M111.947 229.338c-23.3682-16.624-36.7097-42.376-36.6311-71.178.0748-27.616 11.5642-54.788 28.5321-76.1461 16.623-20.9248 40.127-37.3828 66.826-41.396 30.836-4.6429 59.416 9.9584 80.753 31.4856 14.438 14.5671 27.373 32.1975 33.81 51.8755 5.829 17.842 5.4 37.062-.4 54.835-11.225 34.366-41.583 60.776-75.648 70.742-17.873 5.226-37.089 5.404-55.036.431-15.274-4.221-28.361-13.242-42.206-20.649-1.353-.716-1.814 2.959-.608 3.593 13.891 7.431 26.939 16.245 42.206 20.65 16.967 4.915 34.918 4.789 52.018.686 33.654-8.074 63.305-32.714 77.489-64.434 6.851-15.321 9.606-32.18 7.961-48.894-1.883-19.245-10.362-36.345-21.503-51.8095-18.837-26.1387-45.444-49.0349-78.412-52.6684C136.635 30.4393 90.6507 79.6225 77.3503 128.78c-4.9884 18.435-5.6784 38.112-.4945 56.575 5.4972 19.548 18.1053 35.934 34.4832 47.576 1.169.832 1.726-2.796.608-3.593'/%3E%3Cpath fill='%2355899A' d='M174.779 185.904c-27.257-3.952-36.764-36.949-26.045-59.693 5.415-11.496 16.153-18.388 28.8-18.2 16.578.248 35.38 10.489 41.629 26.368 5.316 13.523 1.287 29.347-8.114 39.985-4.615 5.229-10.693 8.865-17.368 10.731-6.186 1.729-12.587.87-18.902.809-1.435-.005-1.495 3.726-.062 3.741 6.918.069 13.582.709 20.358-1.191 7.153-2.005 13.389-6.579 18.152-12.212 9.235-10.941 12.418-26.436 8.875-40.223-6.8-26.487-47.481-43.1944-68.019-22.323-22.131 22.485-12.793 71.098 20.634 75.949 1.343.197 1.523-3.523.062-3.741'/%3E%3Cpath fill='%2355899A' d='M160.812 190.687c-26.576-9.963-31.225-40.866-19.996-64.411 5.301-11.115 14.281-20.587 25.978-24.742 14.052-4.9971 28.842.157 40.668 8.156 11.008 7.448 19.995 17.511 22.188 31.048 1.883 11.657-2.12 23.492-8.73 32.974-6.702 9.6-16.828 16.606-28.054 19.608-11.206 3.008-21.446-.197-32.322-2.706-1.279-.283-1.524 3.409-.063 3.741 7.289 1.687 14.28 4.026 21.846 4.052 7.924.031 15.742-2.352 22.63-6.174 13.291-7.369 22.765-20.827 26.106-35.608 3.538-15.595-1.619-31.449-12.933-42.49-10.717-10.467-25.635-18.7213-40.891-18.2712-23.171.6699-38.726 22.4402-43.137 43.4162-4.71 22.381 3.665 46.598 26.099 55.01 1.503.56 1.86-3.132.611-3.603'/%3E%3Cpath fill='%2355899A' d='M163.217 170.171c-24.987-18.185 1.099-61.532 28.797-51.762 8.17 2.884 14.664 10.096 19.018 17.371 5.504 9.196 4.028 20.092-2.197 28.479-5.409 7.286-13.984 11.932-22.91 12.891-8.686.942-15.39-3.054-22.708-6.979-1.349-.714-1.814 2.959-.611 3.604 7.304 3.9 13.621 7.502 22.19 7.19 8.401-.295 16.335-4.464 22.268-10.287 5.686-5.591 8.979-13.178 9.522-21.115.614-9.085-3.806-17.111-9.404-23.875-9.448-11.415-23.872-16.171-37.158-8.552-11.099 6.372-18.204 19.116-19.096 31.749-.702 9.938 3.709 19.087 11.678 24.89 1.152.837 1.718-2.789.611-3.604z'/%3E%3Cpath fill='%2355899A' d='M99.8126 207.349c-20.627-23.803-25.1486-54.867-14.1419-84.172 10.451-27.8226 32.7493-51.192 58.9323-64.6153 26.019-13.3228 56.883-15.3669 82.695-.469 15.529 8.9666 27.391 23.149 36.341 38.518 10.993 18.8723 19.164 40.4013 18.345 62.5513-1.472 39.246-32.215 70.374-67.597 82.628-17.838 6.175-37.281 7.396-55.706 3.368-9.637-2.113-18.842-5.968-27.312-11.008-8.502-5.058-14.84-11.857-22.116-18.361-3.148-2.81-6.292-5.63-9.4404-8.44-1.3774-1.228-2.0602 2.346-1.0971 3.215 11.9975 10.719 22.7705 22.45 37.1595 30.056 16.457 8.69 35.392 11.803 53.81 10.192 35.533-3.108 69.772-24.745 85.667-57.191 17.659-36.059 5.663-77.522-16.101-108.9711-17.805-25.7367-44.884-42.6589-76.686-40.6818C127.249 47.4102 75.4148 102.532 77.523 158.662c.7275 19.367 8.6167 37.382 21.1925 51.902 1.1691 1.347 1.9445-2.243 1.0971-3.215'/%3E%3Cpath fill='%2355899A' d='M123.968 216.257c-23.775-16.961-34.0941-44.458-29.5973-73.143 4.2679-27.208 20.2453-52.6742 41.9773-69.2277 22.248-16.9309 50.976-21.9045 76.719-10.1741 16.238 7.3821 29.406 20.2442 40.194 34.2608 12.668 16.475 21.057 35.182 20.057 56.355-1.642 34.41-27.996 63.623-58.707 76.022-15.647 6.311-32.912 7.985-49.442 4.705-15.206-3.015-27.77-11.595-41.201-18.798-1.346-.725-1.811 2.949-.607 3.604 14.027 7.508 26.969 16.005 42.838 19.147 17.427 3.46 35.628.696 51.852-6.275 31.228-13.416 55.207-43.848 57.329-78.366 1.14-18.616-5.092-36.793-15.501-51.998-10.194-14.899-22.664-28.533-38.13-37.9677-23.782-14.5055-52.171-14.1275-76.19-.5233-43.974 24.9173-72.1371 90.571-41.964 135.995 5.245 7.897 12.092 14.502 19.766 19.988 1.167.831 1.726-2.807.607-3.604'/%3E%3Cpath fill='%2355899A' d='M113.787 197.758c-43.9639-50.897 6.818-125.4627 64.847-133.5213 14.383-1.9965 28.947.6911 41.637 7.7567 16.126 8.9621 27.526 24.455 35.617 40.7386 9.781 19.722 14.787 41.152 7.951 62.661-5.775 18.14-19.218 32.975-35.171 42.786-18.854 11.61-41.889 16.033-63.612 11.788-11.256-2.199-21.851-7.151-31.09-13.937-7.261-5.323-13.459-12.259-20.179-18.272-1.375-1.238-2.058 2.336-1.094 3.205 12.373 11.068 23.275 22.586 39.038 28.87 16.897 6.723 35.708 6.911 53.148 2.342 34.56-9.048 62.842-38.836 64.337-75.546.829-20.3-7.469-40.428-17.839-57.4397-8.552-14.0126-20.329-26.2004-35.253-33.2385-26.34-12.4178-56.728-4.3404-79.339 12.1208-18.828 13.713-33.931 34.0464-39.6383 56.8924-5.9011 23.619-.359 47.588 15.5463 65.999 1.168 1.347 1.938-2.234 1.094-3.205'/%3E%3Cpath fill='%2355899A' d='M109.314 174.181c-28.618-59.313 45.12-117.5422 100.619-101.093 35.228 10.4472 50.718 51.272 49.024 85.379-1.894 37.862-35.996 62.799-71.494 64.853-16.667.968-33.455-3.27-47.516-12.336-14.19-9.152-21.673-23.063-30.633-36.803-1.196-1.83-2.228 1.505-1.507 2.618 8.664 13.289 15.852 26.439 28.948 35.998 13.699 10.001 30.807 14.542 47.59 14.369 33.025-.357 65.229-20.674 74.272-53.553 5.043-18.317 2.079-38.669-3.604-56.482-4.789-15.001-13.265-28.7966-25.904-38.3261-22.96-17.2878-54.559-14.451-79.138-2.4434-18.05 8.8333-33.897 23.3808-42.684 41.6695-9.0324 18.79-8.4872 40.09.52 58.768.936 1.935 2.068-1.455 1.507-2.618'/%3E%3Cpath fill='%2355899A' d='M109.28 155.888c-12.4183-57.3508 58.857-92.5301 105.953-74.2996 11.992 4.6372 22.13 13.0793 28.776 24.1516 8.536 14.226 10.308 31.386 9.26 47.653-1.182 18.387-6.879 35.579-20.531 48.385-11.546 10.834-27.173 16.418-42.739 17.528-18.627 1.317-37.577-4.205-52.514-15.469-8.113-6.11-14.64-14.188-19.287-23.215-3.99-7.775-6.004-16.515-8.918-24.734-.819-2.316-2.318.439-1.813 1.855 5.038 14.211 8.757 27.974 18.751 39.712 10.013 11.753 23.942 19.514 38.732 23.316 29.505 7.582 63.128-2.493 79.702-29.088 9.25-14.85 11.43-33.361 10.909-50.557-.429-14.537-3.973-29.203-12.174-41.3345-14.317-21.2243-40.433-28.8538-64.846-26.3711-20.604 2.0949-41.005 11.2129-55.391 26.3507-14.86 15.6399-20.233 36.9749-15.683 57.9719.515 2.389 2.118-.441 1.813-1.855'/%3E%3Cpath fill='%23737576' d='M23.2794 399.486c33.5259-24.472 79.8926 43.847 24.0261 60.311-34.0307 10.709-54.11377-36.959-27.2145-57.327l3.1884-2.984M329.713 358.372c-22.148-58.56 48.89-107.441 101.339-92.341 13.393 3.849 24.965 12.337 32.878 23.854 10.608 15.465 13.747 34.657 14.2 53.072.464 18.45-6.165 36.133-19.259 49.121-11.777 11.701-27.896 18.319-44.161 20.324-18.485 2.285-37.614-1.871-53.299-12.026-8.456-5.469-15.557-12.907-20.96-21.404-4.2-6.615-7.204-14.062-10.893-20.983-1.021-1.906-2.116 1.474-1.5 2.631 7.327 13.755 13.229 27.311 25.298 37.75 12.197 10.577 27.789 16.453 43.714 18 31.619 3.074 64.417-12.613 77.457-42.546 7.371-16.925 6.712-36.646 3.422-54.464-2.804-15.136-8.981-29.82-19.712-41.003-18.911-19.696-48.134-22.289-73.139-14.938-20.219 5.946-38.912 18.725-50.71 36.398-12.011 17.977-14.11 40.268-6.483 60.411.857 2.295 2.342-.432 1.808-1.856z'/%3E%3C/g%3E%3C/svg%3E");
  }

  &__inner {
    position: relative;
  }

  &__content {
    padding: 1.5rem 0 2.25rem;

    @include media-min-sm {
      padding: 2.25rem 0;
    }

    @include media-min-md {
      padding: 4.5rem 0;
    }

    @include media-min-lg {
      padding: 170px 0 67px;
    }
  }

  &__subtitle {
    @include section-subtitle;
  }

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 1.5em;

    ul {
      padding: 0;
      margin-top: 1.5rem;
      margin-bottom: 0;
      list-style: none;

      li {
        position: relative;
        padding-left: 20px;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 5px;
          height: 5px;
          border-radius: 5px;
          transform: translateY(10px);
          background-color: $primary-color;
        }
      }
    }
  }

  &__cover {
    position: relative;

    @include media-max-md {

      &::before {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: (3 / 4) * 100%;
      }
    }

    @include media-min-md {
      position: absolute;
      top: 0;
      left: calc(50% + 132px);
      width: calc(50% - 132px);
      height: 100%;
    }
  }

  &__cover-wrap {
    width: 100%;
    height: 100%;

    @include media-max-md {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}