.s-countdown {
  background-color: $bg-color--shade;
  @include section-padding;

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__timer {
    padding-top: 1.5rem;
    font-size: ms(4);
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 1.5rem;

    @include media-min-md {
      padding-top: 0;
    }

    @include media-min-lg {
      font-size: ms(5);
    }
  }

  &__timer-caption {
    display: block;
    font-size: ms(-2);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.025em;
    margin-bottom: 1.5rem;

    &::before {
      position: relative;
      content: '';
      width: 45px;
      height: 1px;
      background-color: currentColor;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      transform: translateY(-1px);
    }
  }
}