// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-color: #181b19;
$text-color--light: #c9cfcd;

$bg-color: #ffffff;
$bg-color--shade: #f2f3f2;
$bg-color--dark: #22393a;

$primary-color: #34b6c6;

// Fonts
$font-family: 'Jost', sans-serif;

$font-family--monospace: menlo, monaco, consolas, 'Liberation Mono',
  'Courier New', nospace;

// Misc
$border-color: rgba($text-color, 0.125);
$transition-timing: cubic-bezier(0.165, 0.85, 0.45, 1);