.s-my-instagram {
  background-color: $bg-color--dark;
  color: $text-color--light;
  @include section-padding;

  &__subtitle {
    @include section-subtitle;
  }

  &__title {
    @include section-title;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      margin-bottom: 2.25rem;
    }
  }
}